@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<div class="row">
	<div class="col-xs-12 tb-grid">
	<form data-url="${ctxPath}/${code}/update" method="post" class="form-horizontal" role="form">
		<input type="hidden" name="clienttypemapnew.NewType" value="${clienttypemapnew.NewType!}"/>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">新包ID: </td>
					<td>${clienttypemapnew.NewType!}</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">旧包ID: </td>
					<td>
						<input type="text" name="clienttypemapnew.OldType" value="${clienttypemapnew.OldType!}"/>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否开启高防: </td>
					<td>
						@if(clienttypemapnew.IsOnline==1){
							<input type="radio" value="1" name="clienttypemapnew.IsOnline" checked="checked"/>开启
							<input type="radio" value="0" name="clienttypemapnew.IsOnline"/>关闭
						@} else{
							<input type="radio" value="1" name="clienttypemapnew.IsOnline"/>开启
							<input type="radio" value="0" name="clienttypemapnew.IsOnline" checked="checked"/>关闭
						@}
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否允许查看: </td>
					<td>
						@if(clienttypemapnew.IsCanSeeAll==1){
							<input type="radio" value="1" name="clienttypemapnew.IsCanSeeAll" checked="checked"/>允许
							<input type="radio" value="0" name="clienttypemapnew.IsCanSeeAll"/>禁止
						@} else{
							<input type="radio" value="1" name="clienttypemapnew.IsCanSeeAll"/>允许
							<input type="radio" value="0" name="clienttypemapnew.IsCanSeeAll" checked="checked"/>禁止
						@}
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否允许活动: </td>
					<td>
						@if(clienttypemapnew.IsForbidActivity==1){
							<input type="radio" value="1" name="clienttypemapnew.IsForbidActivity" checked="checked"/>允许
							<input type="radio" value="0" name="clienttypemapnew.IsForbidActivity"/>禁止
						@} else{
							<input type="radio" value="1" name="clienttypemapnew.IsForbidActivity"/>允许
							<input type="radio" value="0" name="clienttypemapnew.IsForbidActivity" checked="checked"/>禁止
						@}
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否允许赠送: </td>
					<td>
						@if(clienttypemapnew.IsForbidGift==1){
							<input type="radio" value="1" name="clienttypemapnew.IsForbidGift" checked="checked"/>允许
							<input type="radio" value="0" name="clienttypemapnew.IsForbidGift"/>禁止
						@} else{
							<input type="radio" value="1" name="clienttypemapnew.IsForbidGift"/>允许
							<input type="radio" value="0" name="clienttypemapnew.IsForbidGift" checked="checked"/>禁止
						@}
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否允许签到: </td>
					<td>
						@if(clienttypemapnew.IsForbidSign==1){
							<input type="radio" value="1" name="clienttypemapnew.IsForbidSign" checked="checked"/>允许
							<input type="radio" value="0" name="clienttypemapnew.IsForbidSign"/>禁止
						@} else{
							<input type="radio" value="1" name="clienttypemapnew.IsForbidSign"/>允许
							<input type="radio" value="0" name="clienttypemapnew.IsForbidSign" checked="checked"/>禁止
						@}
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否能够显示系统自定义头像: </td>
					<td>
						@if(clienttypemapnew.canSeeCustomHead==1){
							<input type="radio" value="1" name="clienttypemapnew.canseecustomhead" checked="checked"/>是
							<input type="radio" value="0" name="clienttypemapnew.canseecustomhead"/>否
						@} else{
							<input type="radio" value="1" name="clienttypemapnew.canseecustomhead"/>是
							<input type="radio" value="0" name="clienttypemapnew.canseecustomhead" checked="checked"/>否
						@}
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否开启首充礼包: </td>
					<td>
						@if(clienttypemapnew.RechargeGift==1){
							<input type="radio" value="1" name="clienttypemapnew.rechargegift" checked="checked"/>是
							<input type="radio" value="0" name="clienttypemapnew.rechargegift"/>否
						@} else{
							<input type="radio" value="1" name="clienttypemapnew.rechargegift"/>是
							<input type="radio" value="0" name="clienttypemapnew.rechargegift" checked="checked"/>否
						@}
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否切换到第三方支付: </td>
					<td>
						@if(clienttypemapnew.IsUserThirdRecharge==1){
							<input type="radio" value="1" name="clienttypemapnew.isuserthirdrecharge" checked="checked"/>是
							<input type="radio" value="0" name="clienttypemapnew.isuserthirdrecharge"/>否
						@} else{
							<input type="radio" value="1" name="clienttypemapnew.isuserthirdrecharge"/>是
							<input type="radio" value="0" name="clienttypemapnew.isuserthirdrecharge" checked="checked"/>否
						@}
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"确认修改",btn_close:"关闭"}) {}
@}