@layout("/common/_container.html"){
<script type="text/javascript">
	var ctx = "${ctxPath}";
	var grid_selector = "#grid-table";
	var pager_selector = "";
	var isFresh = true;
	var _filter = '{"startTime":"' +getBeforeDate(30) +'","endTime":"' +getBeforeDate(0)+'"}';
	_filter = encodeURI(_filter);
	var searchType = 'home';

	$(function() {
		backDom('金币奖券统计','statistics_goldcoupon');
		initHomeTable();
		var info = {
			title: '平台金币统计',
			xName: '平台金币',
			barName: {
				tName: '总金币',
				sName: '系统赠送',
				rName: '充值获得'
			}
		};
		initEchart('home-chart',info,'${ctxPath}/statistics/getGoldAxis?where='+_filter);
		
		$("#start_time").val(getBeforeDate(30));
		$("#end_time").val(getBeforeDate(1));
	});
	
	function initHomeTable() {
		var grid_url = ctx + "/${code}/glist";
		var _colNames = ["日期","总金币","系统赠送金币","充值获得"];
		var _colModel = [
				            {name : "ApplyDate", width : 100, sortable:false,align:'center'}, 
				            {name : "TGold", width : 100, sortable:false,align:'center', formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:",",decimalPlaces:0}},
				            {name : "TPresentScore", width : 100, sortable:false,align:'center', formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:",",decimalPlaces:0}},
				            {name : "TCurrency", width : 100, sortable:false,align:'center', formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:",",decimalPlaces:0}}
				           ];
		var data = {
				where:_filter
			};
		initGrid('home',grid_selector,grid_url,_colNames,_colModel,data);
	}

	function initCouponTable() {
		var grid_url = ctx + "/${code}/clist";
		var _colNames = ["日期","总奖券","系统赠送奖券","开宝箱"];
		var _colModel = [
				            {name : "ApplyDate", width : 100, sortable:false,align:'center'}, 
				            {name : "TCoupon", width : 100, sortable:false,align:'center'},
				            {name : "TPresentScore", width : 100, sortable:false,align:'center'},
				            {name : "TTreasureScore", width : 100, sortable:false,align:'center'}
				            ];
		var data = {
				where:_filter
			};
		initGrid('coupon',"#coupon-grid-table",grid_url,_colNames,_colModel,data);
	}

	function initGrid(type,t_selector,grid_url,_colNames,_colModel,data) {
		//var grid_url = ctx + "/${code}/urlist";//查询列表接口
		jQuery(t_selector).jqGrid({
			url: grid_url,
			shrinkToFit : true,//适用于较少字段,响应式
			colNames : _colNames,
			colModel : _colModel,
			postData : data,
			multiselect : false,
			rownumbers : false,
			rowNum:-1,
			//sortname:"RegisterNum",
			//sortorder:"desc"
		});
	}
</script>

<ul id="myTab" class="nav nav-tabs">
	<li class="active">
		<a href="#home" data-toggle="tab">平台金币统计</a>
	</li>
	<li><a href="#coupon" data-toggle="tab">平台奖券统计</a></li>
</ul>
<!-- 配置grid -->
<div class="row" style="margin-top:10px;">
	<form data-url="" method="post" class="" role="form">
		<!-- 配置查询 -->
		<div class="statistics-search">
			<!-- 简单查询第一组 -->
			<label class=""> 时间： </label> 
			<input type="text" id="start_time" value="" class="" />
			- 
			<input type="text" id="end_time" value="" class="" />

			<!-- 简单查询按钮 -->
			<label class="">
				<button class="btn btn-sx btn-white btn-search" type="button" onclick="goSearch()">查询</button>
			</label>
		</div>
	</form>
</div>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="home">
		<div id="home-chart" style="height: 450px;"></div>
		<!-- grid -->
		<table id="grid-table"></table>
	</div>
	<div class="tab-pane fade" id="coupon">
		<div id="coupon-chart" style="height: 450px;"></div>
		<!-- grid -->
		<table id="coupon-grid-table"></table>
	</div>
</div>
<div class="space-4"></div>
<div class="space-4"></div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="${ctxPath}/static/laydate/laydate.js"></script>
<script type="text/javascript">
		$('.nav-tabs a').on('show.bs.tab', function(event){
	        //$(event.target.hash).css("height","450px").siblings().css("height","0");
	        var id = event.target.hash.replace('#','');
	        genEchart(id);
	    });
		
		function genEchart(id) {
			switch(id) {
				case 'home':
					searchType = 'home';
					break;
				case 'coupon':
					searchType = 'coupon';
					if(isFresh) {
						initCouponTable();
						var info = {
								title: '平台奖券统计',
								xName: '平台奖券',
								barName: {
									tName: '总奖券',
									sName: '系统赠送',
									rName: '开宝箱'
								}
							};
						var dataUrl = '${ctxPath}/statistics/getCouponAxis?where='+_filter;
						initEchart('coupon-chart',info,dataUrl);
						
						$("#start_time").val(getBeforeDate(30));
						$("#end_time").val(getBeforeDate(1));
						isFresh = false;
					}
					break;
				default:
					break;
			}
		}
		
		function initEchart(id,info,dataUrl) {
			 // 基于准备好的dom，初始化echarts实例
	        //var myChart = echarts.init(document.getElementById(id));
			//myChart.showLoading(); 
 			$.get(dataUrl, function (data) {
				var homexdata = JSON.parse(data);
				var d = homexdata.data.data;
				var xAxisData = [];
				var data = [];
				for (var i = 0; i < d.length; i++) {
					xAxisData[i] = d[i][0];
					data[i] = d[i][1];
				}
				
				var d1 = homexdata.data.data1;
				var xAxisData1 = [];
				var data1 = [];
				for (var i = 0; i < d1.length; i++) {
					xAxisData1[i] = d1[i][0];
					data1[i] = d1[i][1];
				}

				var d2 = homexdata.data.data2;
				var xAxisData2 = [];
				var data2 = [];
				for (var i = 0; i < d2.length; i++) {
					xAxisData2[i] = d2[i][0];
					data2[i] = d2[i][1];
				}
				
				genEcharts(id,xAxisData,data,data1,data2,info);
				//myChart.hideLoading(); 
			});
 		}
		
		function genEcharts(myChart,xAxisData,data,data1,data2,info) {
			// 基于准备好的dom，初始化echarts实例
			Highcharts.chart(myChart, {

			    title: {
			        text: info['title']
			    },

			    yAxis: {
			        title: {
			            text: info['xName'],
			            rotation:360
			        },
			        //min:(BloodPond.bloodpondval*BloodPond.flasealerttimes2),
	                //max:(BloodPond.bloodpondval*BloodPond.truealerttimes2)
			    },
			    legend: {
			        layout: 'vertical',
			        align: 'right',
			        verticalAlign: 'middle'
			    },
			    
			    tooltip: {
			    	shared: true
			    },
			    
			    xAxis: {
			        endOnTick: true,
			        categories:xAxisData,
			        labels: {
			        	formatter: function() {
			        		// 格式化成月/日，只在第一个刻度显示年份
	            			if(BladeTool.isNotEmpty(this.value)) {
		            		    var date = new Date(this.value);
		            		    var texts = [(date.getMonth() + 1), date.getDate()];
		            		    return texts.join('-');
	            			} else {
	            				return '';
	            			}
			        	}
			        }
			    },
			    series: [{
			        name: info['barName']['tName'],
			        data: data,
			        color: '#EA5335',
			        type: 'spline'
			        //lineWidth: 5
			    }, {
			        name: info['barName']['sName'],
			        data: data1,
			        color: '#33C3F7',
			        type: 'spline'
			    }, {
			        name: info['barName']['rName'],
			        data: data2,
			        color: '#000000',
			        type: 'spline'
			        //lineWidth: 5
			    }],
			    
			    credits: {  
			    	  enabled: false  
			    	}

			});

	        // 使用刚指定的配置项和数据显示图表。
	        //myChart.setOption(option);
	        //window.onresize = myChart.resize;
		}
	
	laydate({
		elem : '#start_time',
		format : 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月日
		max: laydate.now(-1),
		choose : function(datas) { //选择日期完毕的回调
			/*   alert('得到：'+datas); */
		}
	});
	laydate({
		elem : '#end_time',
		format : 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月日
		max: laydate.now(-1),
		choose : function(datas) { //选择日期完毕的回调
			/*   alert('得到：'+datas); */
		}
	});
	
	function goSearch() {
		var wheres = {};
		var start_time = $("#start_time").val();
		var end_time = $("#end_time").val();
		if(BladeTool.isNotEmpty(end_time) && BladeTool.isEmpty(start_time)) {
			layer_alert('请输入开始时间!', "warn");
	    	return;
		} else if(BladeTool.isNotEmpty(end_time)) {
			wheres['endTime'] = end_time;
		}
		if(BladeTool.isNotEmpty(start_time)) {
			wheres['startTime'] = start_time;
			if(BladeTool.isEmpty(end_time)) {
				wheres['endTime'] = getBeforeDate(1);
				$("#end_time").val(getBeforeDate(1));
			}
		}
        var where = "";
		
		$.each(wheres, function(key, value) {
			if (BladeTool.isNotEmpty(key) && BladeTool.isNotEmpty(value)) {
				where += "\"" + key + "\":\"" + value + "\"" + ",";
			}
		});
		
		if (BladeTool.isNotEmpty(where)) {
			where = '{' + where;
			where = where.substring(0, where.length - 1);
			where += '}';
		}
        
		where = BladeTool.isEmpty(where) ? "" : encodeURI(where);
		isAutoPage = (BladeTool.isEmpty(where) ? true : false);
		
		var _cid = '';
		var _info = {};
		var _dataUrl = '';
		if(searchType == 'home') {
			_cid = 'home-chart';
			_info = {
					title: '平台金币统计',
					xName: '平台金币',
					barName: {
						tName: '总金币',
						sName: '系统赠送',
						rName: '充值获得'
					}
				};
			_dataUrl = '${ctxPath}/statistics/getGoldAxis?where='+where
			$jqGrid = jQuery('#grid-table');
		} else {
			_cid = 'coupon-chart';
			_info = {
					title: '平台奖券统计',
					xName: '平台奖券',
					barName: {
						tName: '总奖券',
						sName: '系统赠送',
						rName: '开宝箱'
					}
				};
			_dataUrl = '${ctxPath}/statistics/getCouponAxis?where='+where
			$jqGrid = jQuery('#coupon-grid-table');
		}
		// 更新图表
		initEchart(_cid,_info,_dataUrl);
		// 更新表格
		$jqGrid.jqGrid("setGridParam", {
			datatype : "json",
			postData : {
				where : where
			}
		}).trigger("reloadGrid");
	}
</script>

<!-- 引入列表页所需js -->
@include("/common/_listscript.html"){}
@}