@layout("/common/_container.html"){
<style>
#grid-table>tbody>tr>td:first-child{
	display: none;
}
.tablediv .ui-jqgrid-htable, .tablediv .ui-jqgrid-btable {
    width: 50% !important;
}
.subgrid-data .ui-jqgrid-view{
	margin-left: 25%;
}
</style>
<script type="text/javascript">
	var ctx = "${ctxPath}";
	var grid_selector = "#grid-table";
	var pager_selector = "";
	var _filter = '{"startTime":"' +getBeforeDate(0) +'","endTime":"' +getBeforeDate(0)+'"}';
	_filter = encodeURI(_filter);
	var type='home';
	
	$(function() {
		backDom('用户在线统计','user_online_statistics');
		$.jgrid.defaults.width = 780;
		$.jgrid.defaults.responsive = true;
		$.jgrid.defaults.styleUI = 'Bootstrap';
		initGrid();
	});

	function initGrid() {
		var OnlineCount = 0;
		jQuery("#grid-table").jqGrid({
			url:ctx + "/${code}/poclist",
			mtype: "GET",
            datatype: "json",
			shrinkToFit : true,//适用于较少字段,响应式
			colNames : [ "ID","房间", "当前在线人数"],
			colModel : [
			            {name : "KindID", hidden:true,key: true,}, 
			            {name : "KindName", width : 100, sortable:false,align:'center'}, 
			            {name : "OnlineCount", width : 100, sortable:false,align:'center',formatter:rowShow}
			            ],
			loadonce: true,
			postData : {where: _filter},
			multiselect : false,
			rownumbers : false,
			rowNum:-1,
			sortname:"OnlineCount",
			sortorder:"desc",
			height: 'auto',
			jsonReader: {
				// instruct subgrid to get the data as name:value pair
				subgrid : { repeatitems: false}
			},
            subGrid: true, // set the subGrid property to true to show expand buttons for each row
			subgridtype: 'json', // set the subgrid type to json
			subGridRowExpanded: showChildGrid,
			subGridOptions : {
				// load the subgrid data only once
				// and the just show/hide
				reloadOnExpand :false,
				// select the row when the expand column is clicked
				selectOnExpand : false 
			},
			afterInsertRow: function(rowid, rowdata, rowelem) {
				if(BladeTool.isNotEmpty(rowdata['OnlineCount'])) {
					OnlineCount += rowdata['OnlineCount'];
				}
			},
			gridComplete:function() {
				$("#OnlineCount").text(fmoney(OnlineCount,0));
				OnlineCount = 0;
			}
		});
		}
	 function showChildGrid(parentRowID, parentRowKey) {
	    	var childGridID = parentRowID + "_table";
	        var childGridPagerID = parentRowID + "_pager";
	        // send the parent row primary key to the server so that we know which grid to show
	        var childGridURL = ctx+"/${code}/rpoclist?id="+parentRowKey;
	        //childGridURL = childGridURL + "&parentRowID=" + encodeURIComponent(parentRowKey)

	        // add a table and pager HTML elements to the parent grid row - we will render the child grid here
	        $('#' + parentRowID).append('<table id=' + childGridID + '></table><div id=' + childGridPagerID + ' class=scroll></div>');

	        $("#" + childGridID).jqGrid({
	            url: childGridURL,
	            mtype: "GET",
	            datatype: "json",
	            page: 1,
	            colModel: [
	                { label: '房间名称', name: 'ServerName',sortable:false },
	                { label: '当前在线人数', name: 'OnlineCount',sortable:false }
	            ],
	            jsonReader: {
					id:'ServerName'
				},
				loadonce: true,
	            width: '50%',
	            height: '100%',
	            multiselect : false,
				rownumbers : false,
				rowNum:100,
				afterInsertRow: function(rowid, rowdata, rowelem) {
					console.log(rowdata['ServerName']);
				}
	        });
	    }
		
		function rowShow(cellvalue, options, rowObject) {
			var html = '';
			if(options.colModel.name=='OnlineCount') {
				if(rowObject.KindID!=0) {
					html += cellvalue+'<a href="javascript:void(0);" onclick="goLayer('+options.rowId+')"><span class="text-green">[详细]</span></a>';
				} else {
					html = cellvalue;
				}
			}
			return html;
		}
		function goLayer(id) {
			$('.glyphicon-minus').parent().click();
			$('#'+id+' td:first-child a').click();
		}
</script>
 
<script src="${ctxPath}/static/echarts/echarts.min-all.js"></script>
<ul id="myTab" class="nav nav-tabs">
	<li class="active">
		<a href="#home" data-toggle="tab">在线数据</a>
	</li>
	<li><a href="#dayAvg" data-toggle="tab">日平均在线</a></li>
	<li><a href="#dayHighest" data-toggle="tab">日最高在线</a></li>
	<li><a href="#weekAvg" data-toggle="tab">周平均在线</a></li>
</ul>
<!-- 配置grid -->
<div class="row" style="margin-top:10px;">
	<form data-url="" method="post" class="" role="form">
		<!-- 配置查询 -->
		<div class="statistics-search">
			<span id="linet">
				<label class=""> 曲线类型： </label> 
				<select id="LineType" onchange="updateLineType(this)">
					<option value="1" selected="selected">单曲线</option>
					<option value="0">总曲线</option>
				</select>
			</span>
			<label class=""> 游戏： </label> 
			<select id="KindID"></select>
			<!-- 简单查询第一组 -->
			<label class=""> 时间： </label> 
			<input type="text" id="start_time" value="" class="" />
			- 
			<input type="text" id="end_time" value="" class="" />
			<!-- 简单查询按钮 -->
			<label class="">
				<button class="btn btn-sx btn-white btn-search" type="button" onclick="goSearch()">查询</button>
			</label>
		</div>
	</form>
</div>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="home">
		<div id="home-chart" style="height: 450px;"></div>
		<!-- grid -->
		<div class="row">
			<div class="total-block bg-eeeeee text-center">
				<span>游戏平台当前在线<span class="text-red" id="OnlineCount">0</span>(即时数据)</span>
			</div>
			<table id="grid-table" style="margin-top:10px"></table>
		</div>
	</div>
	<!-- <div class="tab-pane fade in active" id="home" style="height:550px;"></div> -->
	<div class="tab-pane fade" id="dayAvg" style="height: 100%"></div>
	<div class="tab-pane fade" id="dayHighest" style="height: 100%"></div>
	<div class="tab-pane fade" id="weekAvg" style="height: 100%"></div>
</div>

<script src="${ctxPath}/static/laydate/laydate.js"></script>
<script type="text/javascript">
	var homexdata = [];
	var dayAvgxdata = [];
	var dayHighestxdata = [];
	$(function(){
		genEchart('home',_filter,'init');
		
		$('.nav-tabs a').on('show.bs.tab', function(event){
	        $(event.target.hash).css("height","550px").siblings().css("height","0");
	        var id = event.target.hash.replace('#','');
	        if(id == 'home') {
	        	$('#linet').show();
	        	_filter = '{"startTime":"' +getBeforeDate(0) +'","endTime":"' +getBeforeDate(0)+'"}';
	        	_filter = encodeURI(_filter);
	        } else {
	        	$('#linet').hide();
	        	_filter = '{"startTime":"' +getBeforeDate(30) +'","endTime":"' +getBeforeDate(0)+'"}';
	        	_filter = encodeURI(_filter);
	        }
	        genEchart(id,_filter,'init');
	    });
		
		new Ajax("${ctxPath}/gamekind/getGameKindItem", function (data) {
		    if(data.code == 0 && BladeTool.isNotEmpty(data.data)) {
		    	var type = data.data;
		    	var html = '<option value="">请选择</option>';
		    	for (var i = 0; i < type.length; i++) {
		    		html += '<option value="' + type[i]['KindID'] + '"';
					html += '>' + type[i]['KindName'] + '</option>';
				}
		    	$("#KindID").html(html);
		    }
		}).start();
	});
	function genArray(data,type) {
		var temp = [];
		for (var i = 0; i < data.length; i++) {
			for ( var key in data[i]) {
				if(type == 'key') {
					temp[i] = key;
				} else {
					
				}
			}
		}
		return temp;
	}
	
	function genEchart(id,where,searchType) {
		//myChart.showLoading(); 
		var obj = {};
		var tdata = {};
		type = id;
		switch(id) {
			case 'home':
				if(searchType == 'init') {
					$("#start_time").val(getBeforeDate(0));
					$("#end_time").val(getBeforeDate(0));
				}
				obj['title'] = '在线统计';
				obj['id'] = 'home-chart';
				$.get('${ctxPath}/statistics/getOnlineAxis?where='+where, function (data) {
					var homexdata = JSON.parse(data);
					if(homexdata.code==0){
						getData(obj,homexdata);
					}else{
						layer_alert(homexdata.message,'warn');
					}
				});
				break;
			case 'dayAvg':
				if(searchType == 'init') {
					$("#start_time").val(getBeforeDate(30));
					$("#end_time").val(getBeforeDate(0));
				}
				obj['title'] = '日平均在线';
				obj['id'] = id;
				$.get('${ctxPath}/statistics/getJson?where='+where, function (data) {
					var dayAvgxdata = JSON.parse(data);
					var d = dayAvgxdata.data;
					var xAxisData = [];
					var data = [];
					for (var i = 0; i < d.length; i++) {
						xAxisData[i] = d[i]['ApplyDate'];
						data[i] = d[i]['OnlineCount'];
					}
					tdata['xAxisData'] = xAxisData;
					tdata['data'] = data;
					getData(obj,tdata);
				});
				break;
			case 'dayHighest':
				if(searchType == 'init') {
					$("#start_time").val(getBeforeDate(30));
					$("#end_time").val(getBeforeDate(0));
				}
				obj['title'] = '日最高在线';
				obj['id'] = id;
				$.get('${ctxPath}/statistics/getOnlineHighAxis?where='+where, function (data) {
					var dayAvgxdata = JSON.parse(data);
					var d = dayAvgxdata.data;
					var xAxisData = [];
					var data = [];
					for (var i = 0; i < d.length; i++) {
						xAxisData[i] = d[i]['ApplyDate'];
						data[i] = d[i]['OnlineCount'];
					}
					tdata['xAxisData'] = xAxisData;
					tdata['data'] = data;
					getData(obj,tdata);
				});
				break;
			case 'weekAvg':
				if(searchType == 'init') {
					$("#start_time").val(getBeforeDate(30));
					$("#end_time").val(getBeforeDate(0));
				}
				obj['title'] = '周平均在线';
				obj['id'] = id;
				obj['type'] = 'wk';
				$.get('${ctxPath}/statistics/getWeekAvg?where='+where, function (data) {
					var dayAvgxdata = JSON.parse(data);
					var d = dayAvgxdata.data;
					var xAxisData = [];
					var data = [];
					for (var i = 0; i < d.length; i++) {
						xAxisData[i] = d[i]['Year']+'-'+d[i]['Week'];
						data[i] = d[i]['OnlineCount'];
					}
					tdata['xAxisData'] = xAxisData;
					tdata['data'] = data;
					getData(obj,tdata);
				});
				break;
			case 'allline':
				if(searchType == 'init') {
					$("#start_time").val(getBeforeDate(0));
					$("#end_time").val(getBeforeDate(0));
				}
				obj['title'] = '在线统计';
				obj['id'] = 'home-chart';
				$.get('${ctxPath}/statistics/getAllOnlineAxis?where='+where, function (data) {
					var homexdata = JSON.parse(data);
					var alldata = {};
					alldata['data'] = {};
					alldata['data']['data'] = [];
					
					alldata['data']['data'][0] = {};
					alldata['data']['data'][0]['name']='总曲线';
					alldata['data']['data'][0]['smooth']=true;
					alldata['data']['data'][0]['type']='line';
					alldata['data']['data'][0]['data'] = [];
					
					alldata['data']['dates'] = [];
					alldata['data']['dates'][0] = {};
					alldata['data']['dates'][0]['name'] = '总曲线';
					alldata['data']['dates'][0]['icon'] = 'roundRect';

					alldata['data']['times'] = [];
					var d = homexdata.data;
					for (var i = 0; i < d.length; i++) {
						alldata['data']['data'][0]['data'][i] = d[i]['OnlineCount'];
						alldata['data']['times'][i] = d[i]['CountTime'].substring(0,16);
					}
					if(homexdata.code==0){
						getData(obj,alldata);
					}else{
						layer_alert(homexdata.message,'warn');
					}
				});
				break;
			default:
				break;
		}
	}
	
	function getData(obj,data) {
	// 基于准备好的dom，初始化echarts实例
	var myChart = echarts.init(document.getElementById(obj['id']));
		if(obj['id'] == 'home-chart') {
			 myChart.setOption(option = {
				        title: {
				            text: obj['title'],
				            left: 'center'
				        },
				        tooltip: {
				            trigger: 'axis'
				        },
				        legend: {
				        	type: 'scroll',
				            orient: 'vertical',
				            right: 10,
				            y:'middle',
				        	data: data.data.dates,
			            },
				        xAxis: {
			            	axisTick:{
			            		//interval:5,
			            		show:true,
			            		alignWithLabel:true
			            	},
			            	axisLabel: {
			            		show:true,
			            		//interval:5,
			            		rotate:20
			            	},
			            	boundaryGap:true,
			            	data: data.data.times
			            },
				        yAxis: {
				            splitLine: {
				                show: true
				            }
				        },
				        /*
				        dataZoom: [{
				            startValue: data.data.times[0]
				        }, {
				            type: 'inside'
				        }],*/
				        smooth: true,
				        series: data.data.data
				    },true);
		} else {
			 myChart.setOption(option = {
			            title: {
			                text: obj['title'],
				            left: 'center'
			            },
			            tooltip: {trigger: 'axis'},
			            legend: {
				        	show: true,
				        	data: [obj['title']],
			                left: 'right',
			                y:'middle',
			                orient: 'vertical',
			                padding: [
			                          5,  // 上
			                          40, // 右
			                          5,  // 下
			                          5, // 左
			                      ]
			            },
			            xAxis: {
			            	axisTick:{
			            		interval:0,
			            		show:true,
			            		alignWithLabel:true
			            	},
			            	axisLabel: {
			            		show:true,
			            		interval:0,
			            		rotate:30,
		 	            		formatter: function(value, index) {
		 	            			// 格式化成月/日，只在第一个刻度显示年份
		 	            			if(BladeTool.isNotEmpty(obj['type']) && obj['type']=='wk') {
										return value+'周';
									} else {
			 	            		    var date = new Date(value);
			 	            		    var texts = [(date.getMonth() + 1)+'月', date.getDate()+'日'];
			 	            		    return texts.join('');
									}
		 	            		}
			            	},
			            	boundaryGap:true,
			            	data: data.xAxisData
			            },
			            yAxis: {
			            	type : 'value',
			                //name : info['xName'],
			                /*axisLabel : {
			                    formatter: '{value} k'
			                },*/
			                nameLocation:'middle',
			                nameRotate:360,
			                nameGap:40
			            },
			            /*dataZoom: [{
				            startValue: data.data[15]
				        }, {
				            type: 'inside'
				        }],*/
			            series: [{
		 	                name: obj['title'],
		 	                type: 'line',
		 	                data: data.data,
		 	               symbol: 'circle',
		 	              symbolSize: 8,
		 	             itemStyle: {
		   	            	normal: {
		   	            		color: '#33C3F7'
		   	            	}
		   	             },
		 	             lineStyle: {
		 	            	normal: {
		 	            		color: '#33C3F7'
		 	            	}
		 	             }
		 	            }]
			        },true);
		}
	    window.onresize = myChart.resize;
	}
	
	laydate({
		elem : '#start_time',
		format : 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月日
		max: laydate.now(),
		choose : function(datas) { //选择日期完毕的回调
			/*   alert('得到：'+datas); */
		}
	});
	laydate({
		elem : '#end_time',
		format : 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月日
		max: laydate.now(),
		choose : function(datas) { //选择日期完毕的回调
			/*   alert('得到：'+datas); */
		}
	});

	$("#start_time").val(getBeforeDate(0));
	$("#end_time").val(getBeforeDate(0));
	
	function goSearch() {
		var wheres = {};
		
		var start_time = $("#start_time").val();
		var end_time = $("#end_time").val();
		if(BladeTool.isNotEmpty(end_time) && BladeTool.isEmpty(start_time)) {
			layer_alert('请输入开始时间!', "warn");
	    	return;
		} else if(BladeTool.isNotEmpty(end_time)) {
			wheres['endTime'] = end_time;
		}
		if(BladeTool.isNotEmpty(start_time)) {
			wheres['startTime'] = start_time;
			if(BladeTool.isEmpty(end_time)) {
				wheres['endTime'] = getBeforeDate(0);
				$("#end_time").val(getBeforeDate(0));
			}
		}
		var KindID = $("#KindID").val();
		if(BladeTool.isNotEmpty(KindID)) {
			wheres['KindID'] = KindID;
		}
		
        var where = "";
		
		$.each(wheres, function(key, value) {
			if (BladeTool.isNotEmpty(key) && BladeTool.isNotEmpty(value)) {
				where += "\"" + key + "\":\"" + value + "\"" + ",";
			}
		});
		
		if (BladeTool.isNotEmpty(where)) {
			where = '{' + where;
			where = where.substring(0, where.length - 1);
			where += '}';
		}
		where = BladeTool.isEmpty(where) ? "" : encodeURI(where);
		// 更新图表
		genEchart(type,where,'search');
		if(type == 'home') {
			isAutoPage = (BladeTool.isEmpty(where) ? true : false);
			$jqGrid.jqGrid("setGridParam", {
				datatype : "json",
				postData : {
					where : where
				}
			}).trigger("reloadGrid");
		}
	}
	
	function updateLineType(obj) {
		if(obj.value==0) {
			type = 'allline';
		} else {
			type = 'home';
		}
		goSearch();
	}
</script>
<!-- 引入列表页所需js -->
@include("/common/_listscript.html"){}
@}	