@layout("/common/_container.html"){
<style>
#grid-table,#grid-table td {
	border: none;
}
#grid-table td span {
	display: block;
	padding: 5px;
}
.span-low-than-10 {
	background-color: #CCFFCD;
}
.span-low-than-20 {
	background-color: #CCCCCC;
}
.span-low-than-30 {
	background-color: #CECCFB;
}
.span-low-than-40 {
	background-color: #CCCDFF;
}
.span-low-than-other {
	background-color: #CBFE9B;
}
.span-other {
	background-color: red;
}
#grid-table tr:nth-child(2){
	border-bottom: 2px solid gray;
}
</style>
<script type="text/javascript">
	var ctx = "${ctxPath}";
	var grid_selector = "#grid-table";
	var pager_selector = "";
	var _filter = '{"startTime":"' +getBeforeDate(30) +'","endTime":"' +getBeforeDate(1)+'","PlatformID":"-1"}';
	_filter = encodeURI(_filter);

	$(function() {
		backDom('留存率统计','statistics_retationrate');
		var url = ctx +"/${code}/trrslist";
		initGrid(url);
	});

	function initGrid(url) {
		var grid_url = url;//查询列表接口
		var avg = {
				counts:0,
				RetationUserCount1:0,
				RetationUserCount2:0,
				RetationUserCount3:0,
				RetationUserCount4:0,
				RetationUserCount5:0,
				RetationUserCount6:0,
				RetationUserCount7:0,
				RetationUserCount15:0,
				RetationUserCount30:0
		};
		jQuery(grid_selector).jqGrid({
			url: grid_url,
			shrinkToFit : true,//适用于较少字段,响应式
			colNames : ["<span class=\"text-center\">日期</span>","新增用户","1日","2日","3日","7日","15日","30日"],
			colModel : [
			            {name : "StatisticsDate", width : 100, sortable:false,align:'center'}, 
			            {name : "logincount", width : 100, sortable:false,align:'center',formatter:rowShow},
			            {name : "lcl1", width : 100, sortable:false,align:'center',formatter:rowShow},
			            {name : "lcl2", width : 100, sortable:false,align:'center',formatter:rowShow},
			            {name : "lcl3", width : 100, sortable:false,align:'center',formatter:rowShow},
			            {name : "lcl7", width : 100, sortable:false,align:'center',formatter:rowShow},
			            {name : "lcl15", width : 100, sortable:false,align:'center',formatter:rowShow},
			            {name : "lcl30", width : 100, sortable:false,align:'center',formatter:rowShow}
			           ],
			postData : {where:_filter},
			multiselect : false,
			rownumbers : false,
			rowNum:-1
		});
		
		function rowShow(cellvalue, options, rowObject) {
			var html = '';
			var now = getBeforeDate(0);
			var CollectDate,spanClass='';
			if(options.colModel.name=='logincount' && rowObject.logincount==-1) {
				html = '-';
				return html;
			} else if(options.colModel.name=='logincount') {
				html = cellvalue;
				return html;
			}
			spanClass = 'span-low-than-' + genSpanClass(cellvalue);
			html = '<span class="'+spanClass+'">'+(fmoney(cellvalue,3))+'%</span>';
			return html;
		}
		
		function genSpanClass(val) {
			return (val<10?10:(val<20?20:(val<30?30:(val<40?40:'other'))));
		}
	}
</script>
<ul id="myTab" class="nav nav-tabs">
	<li class="active">
		<a href="#home" data-toggle="tab">登录留存</a>
	</li>
	<li><a href="#RECH" data-toggle="tab">充值留存</a></li>
	<li><a href="#REGI" data-toggle="tab">注册留存</a></li>
</ul>
<!-- 配置grid -->
<div class="row" style="margin-top:10px;">
	<form data-url="" method="post" class="" role="form">
		<!-- 配置查询 -->
		<div class="statistics-search">
			<!-- 简单查询第一组 -->
			<span id="GameTypeForm">
				<label class=""> 游戏平台： </label> 
				<select id="ptypeid"></select>
			</span>

			<!-- 简单查询第二组 -->
			<label class=""> 时间： </label> 
			<input type="text" id="start_time" value="" class="" />
			- 
			<input type="text" id="end_time" value="" class="" />

			<!-- 简单查询按钮 -->
			<label class="">
				<button class="btn btn-sx btn-white btn-search" type="button" onclick="goSearch()">查询</button>
			</label>
		</div>
	</form>
	
	<!-- grid -->
	<table id="grid-table"></table>
</div>

<script src="${ctxPath}/static/echarts/echarts.min.js"></script>
<script src="${ctxPath}/static/laydate/laydate.js"></script>
<script type="text/javascript">
	// 绑定点击事件
	$('.nav-tabs a').on('show.bs.tab', function(event){
		//$(event.target.hash).css("height","450px").siblings().css("height","0");
		var id = event.target.hash.replace('#','');
		//var display = id=='home' ? '':'none';
		//$('#GameTypeForm').css("display",display);
		var url =''
		if (id==='home'){
			url=ctx +"/${code}/trrslist";
			goSearch(url)
		}else if (id==='RECH') {
			url = ctx +"/${code}/trrslist1";
			goSearch(url)
		}else{
			url = ctx +"/${code}/trrslist2";
			goSearch(url)
		}

	});
	laydate({
		elem : '#start_time',
		format : 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月日
		max: laydate.now(-1),
		choose : function(datas) { //选择日期完毕的回调
			/*   alert('得到：'+datas); */
		}
	});
	laydate({
		elem : '#end_time',
		format : 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月日
		max: laydate.now(-1),
		choose : function(datas) { //选择日期完毕的回调
			/*   alert('得到：'+datas); */
		}
	});
	// 获取平台列表
	new Ajax("${ctxPath}/newsplatform/getPlatformInfo", function (data) {
        if(data.code == 0 && BladeTool.isNotEmpty(data.data)) {
        	var type = data.data;
        	var html = '<option value="-1">请选择</option>';
        	for (var i = 0; i < type.length; i++) {
				html += '<option value="' + type[i]['clientType'] + '">' + type[i]['name'] + '</option>';
			}
        	$("#ptypeid").html(html);
        }
 	}).start();

	function goSearch(url) {
		var wheres = {};
		
		var PlatformID = $("#ptypeid").val();
		if(BladeTool.isNotEmpty(PlatformID)) {
			wheres['PlatformID'] = PlatformID;
		}
		var start_time = $("#start_time").val();
		var end_time = $("#end_time").val();
		if(BladeTool.isNotEmpty(end_time) && BladeTool.isEmpty(start_time)) {
			layer_alert('请输入开始时间!', "warn");
	    	return;
		} else if(BladeTool.isNotEmpty(end_time)) {
			wheres['endTime'] = end_time;
		}
		if(BladeTool.isNotEmpty(start_time)) {
			wheres['startTime'] = start_time;
			if(BladeTool.isEmpty(end_time)) {
				wheres['endTime'] = getBeforeDate(1);
				$("#end_time").val(getBeforeDate(1));
			}
		}
		
		var where = "";
		
		$.each(wheres, function(key, value) {
			if (BladeTool.isNotEmpty(key) && BladeTool.isNotEmpty(value)) {
				where += "\"" + key + "\":\"" + value + "\"" + ",";
			}
		});
		
		if (BladeTool.isNotEmpty(where)) {
			where = '{' + where;
			where = where.substring(0, where.length - 1);
			where += '}';
		}
        
		where = BladeTool.isEmpty(where) ? "" : encodeURI(where);
		isAutoPage = (BladeTool.isEmpty(where) ? true : false);
		$jqGrid.jqGrid("setGridParam", {
			url: url,
			datatype : "json",
			postData : {
				where : where
			}
		}).trigger("reloadGrid");
	}
	
	$("#start_time").val(getBeforeDate(30));
	$("#end_time").val(getBeforeDate(1));
</script>

<!-- 引入列表页所需js -->
@include("/common/_listscript.html"){}
@}