<div class="input-group-btn">
	<button data-toggle="dropdown"
		class="btn btn-sx btn-white dropdown-toggle">
		<span id="dateRangeLabel">时间：</span> <i
			class="ace-icon fa fa-angle-down icon-on-right"></i>
	</button>
</div>
<div id="dateRange">
	<input type="text" id="createtime" class="form-control resetValid"
		style="margin-left: -3px;" /> 
	<input type="hidden" id="starttime"
		class="form-control resetValid" style="margin-left: -3px;" /> 
	<input
		type="hidden" id="endtime" class="form-control resetValid"
		style="margin-left: -3px;" />
</div>
<span class="input-group-btn"></span>

<div class="input-group-btn">
	<button data-toggle="dropdown"
		class="btn btn-sx btn-white dropdown-toggle">
		<span id="searchstart">0</span> <i
			class="ace-icon fa fa-angle-down icon-on-right"></i>
	</button>
	<ul class="dropdown-menu datetimedom start">
	</ul>
	<label>时-</label> 
	<input type="hidden" value="0" id="starthours"
		class="form-control resetValid" style="margin-left: -3px;" />
</div>
<div class="input-group-btn">
	<button data-toggle="dropdown"
		class="btn btn-sx btn-white dropdown-toggle">
		<span id="searchend">0</span> <i
			class="ace-icon fa fa-angle-down icon-on-right"></i>
	</button>
	<ul class="dropdown-menu datetimedom end">
	</ul>
	<label>时</label> 
	<input type="hidden" value="0" id="endhours"
		class="form-control resetValid" style="margin-left: -3px;" />
</div>
<script src="${ctxPath}/static/laydate/laydate.js"></script>
<script src="${ctxPath}/static/search/datedom.js"></script>
<script>
	$(function() {
		var start = {
			elem : '#createtime',
			format : 'YYYY/MM/DD',
			istime : false,
			istoday : false,
			choose : function(datas) {
			}
		};
		laydate(start);
		genDateTimeDom();
	});
	
	function resetSearchSpan() {
		$("#searchstart").text("0");
		$("#searchend").text("0");
	}
</script>