@layout("/common/_container.html"){
<!-- PAGE CONTENT BEGINS -->
<div class="row">
  <div class="col-xs-12 tb-grid">
    <form data-url="${ctxPath}/${code}/update" method="post" class="form-horizontal" role="form">
                  <input type="hidden" name="activelist.id" value="${active.id}"/>
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">累充金额条件: </td>
          <td ><input type="text" name="activelist.param1" value="${active.Param1}" /></td>
        </tr>
        <tr>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">领取类型: </td>
          <td>
            <input type="radio" name="activelist.rewardType" value="2" ${active.RewardType==2?"checked":""}>转盘次数</input>&nbsp;&nbsp;
            <input type="radio" name="activelist.rewardType" value="1" ${active.RewardType==1?"checked":""}>金币</input>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">领取数量: </td>
          <td><input type="text" name="activelist.reward" value="${active.Reward}" /></td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
<script>

</script>
<!-- 按钮 -->
@ include("/common/_curd/_btn.html",{btn_save:"确认修改",btn_close:"关闭"}) {}
@}
