@layout("/common/_container.html"){
<!-- PAGE CONTENT BEGINS -->
<div class="row">
    <div class="col-xs-12 tb-grid">
        <form data-url="${ctxPath}/${code}/save" method="post" class="form-horizontal" role="form">

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">活动id: </td>
                    <td ><input name="activelist.activeID" value=""/></td>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">子活动: </td>
                    <td><input name="activelist.subActiveID" value=""/></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">活动名称: </td>
                    <td><input name="activelist.activeName" value=""/></td>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">参数1: </td>
                    <td><input name="activelist.param1" value=""/></td>

                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">参数2: </td>
                    <td><input type="text" name="activelist.param2" value="" /></td>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">参数3: </td>
                    <td><input type="text" name="activelist.param3" value=""/></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">活动奖励: </td>
                    <td><input type="text" name="activelist.reward" value="" /></td>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">活动类型: </td>
                    <td><input name="activelist.rewardType"/></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<script>

</script>
<!-- 按钮 -->
@ include("/common/_curd/_btn.html",{btn_save:"确认添加",btn_close:"关闭"}) {}
@}
