<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>${sysTitle!''}</title>
		<link rel="shortcut icon" href="${ctxPath}/static/style/images/favicon.ico" type="image/x-icon" />
		<!-- 360浏览器默认选择webkit内核 -->
		<meta name="renderer" content="webkit" />
		<meta name="description" content="blade framework" />
		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="${ctxPath}/static/assets/css/bootstrap.css" />
		<link rel="stylesheet" href="${ctxPath}/static/assets/css/font-awesome.css" />
		<!-- text fonts -->
		<link rel="stylesheet" href="${ctxPath}/static/assets/css/ace-fonts.css" />
		<link rel="stylesheet" href="${ctxPath}/static/assets/css/jquery-ui.css" />
	    <link rel="stylesheet" href="${ctxPath}/static/assets/css/ui.jqgrid.css" />
		<!-- ace styles -->
		<link rel="stylesheet" href="${ctxPath}/static/assets/css/${ace.theme()}" class="ace-main-stylesheet" id="main-ace-style" />
		<!-- gameweb styles -->
		<link rel="stylesheet" href="${ctxPath}/static/search/css/gameweb.css?version=1521508709101" />
		<!-- ace settings handler -->
		<script src="${ctxPath}/static/assets/js/ace-extra.js"></script>
		<script src='${ctxPath}/static/assets/js/jquery.js'></script>
		<script src="${ctxPath}/static/assets/js/bootstrap.js"></script>
		<!-- layer -->
		<script src="${ctxPath}/static/layer/layer.js"></script>
		<!-- blade通用工具类 -->
		<script src="${ctxPath}/static/blade/js/blade-toolbox.js" charset="utf-8" type="text/javascript" ></script>
		<script src="${ctxPath}/static/blade/js/blade-ajax.js" charset="utf-8" type="text/javascript" ></script>
		<script src="${ctxPath}/static/search/js/gentimedom.js" charset="utf-8" type="text/javascript" ></script>
		<script src="${ctxPath}/static/search/js/date-common.js" charset="utf-8" type="text/javascript" ></script>
		 <script src="${ctxPath}/static/search/search.js" charset="utf-8" type="text/javascript" ></script>
	    <style>
		   	.ui-jqgrid-bdiv {
			    height: 100%!important;
			}
			.layui-layer-dialog{
				top:150px!important;
				left:20%!important;
			}
	    </style>
	    <script type="text/javascript">
			$(function(){
				BladeApp.addCtx("${ctxPath}");
			});
		</script>
	</head>
	<body class="no-skin">
		<div class="main-container" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								${layoutContent}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
		 $(document).on('click','.iframeurl',function(){
             var cid = $(this).attr("name");
			var cname = $(this).attr("title");
			if($("#iframe",parent.document).length>0){
				$("#iframe",parent.document).attr("src",cid).ready();
				$("#Bcrumbs",parent.document).attr("href",cid).ready();
				$(".Current_page a",parent.document).attr('href',cid).ready();	
             $(".Current_page",parent.document).attr('name',cid);
				$(".Current_page",parent.document).html(cname).css({"color":"#333333","cursor":"default"}).ready();	
				$("#parentIframe",parent.document).html('<span class="parentIframe iframeurl"> </span>').css("display","none").ready();	
				$("#parentIfour",parent.document).html(''). css("display","none").ready();	
			}else{
				location.href=cid;
			}
	      });
		</script>
	</body>
</html>
