@layout("/common/_container.html"){
<script type="text/javascript">
	var ctx="${ctxPath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	
	$(function(){
		initGrid();
		initMenuBtn("btns","${code}");
	});
	
	function initGrid(){
		var grid_url = ctx+"/${code}/list";//查询列表接口
		var _colnames=[ "活动ID","活动名称","赠送金币","免费次数","花费金币","状态"];
		var _colmodel=[   {name:"ID", sortable:false},
		                  {name:"ActivityName", sortable:false},
						  {name:"GiveScore", sortable:false},
						  {name:"FreeCounts", sortable:false},
						  {name:"Price", sortable:false},
						  {name:"NullityName", sortable:false}
						];
		
		jQuery(grid_selector).jqGrid({
			url:grid_url,
			shrinkToFit : true,//适用于较少字段,响应式
			colNames:_colnames,
			colModel:_colmodel, 
			jsonReader:{id:"ID"},
			pager : pager_selector,
			postData: {},
			rowNum:100,
			height: 'auto'
		});
	}
</script>
	<!-- 配置grid -->
	<div class="row">
		<div class="col-xs-12 tb-grid">
			<!-- 配置查询 -->
			@ var _col=[
			@			  {name:"活动ID",index:"ID",type:"text"},
			@			  {name:"活动名称",index:"TreasureBoxType",type:"text"}
			@		   ];
			@ include("/common/_function/_search_multi.html",{"col":_col}){}
			<!-- 按钮组 -->
			<div class="welljq well-sm" id="btns"></div>
			<!-- grid -->
			<table id="grid-table"></table>
			<!-- 分页 -->
			<div id="grid-pager"></div>
		</div>
	</div>
	
	@include("/common/_listscript.html"){}
@}	