@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<div class="row">
	<div class="col-xs-12 tb-grid">
	<form data-url="${ctxPath}/${code}/update" method="post" class="form-horizontal" role="form">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">类型ID: </td>
					<td>${awardtype.TypeID!}
						<input type="hidden" name="awardtype.TypeID" value="${awardtype.TypeID!}">
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">类型名称: </td>
					<td><input name="awardtype.TypeName" value="${awardtype.TypeName!}" /></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">排序: </td>
					<td><input name="awardtype.SortID" value="${awardtype.SortID!}" /></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">禁用状态: </td>
					<td>
						@if(awardtype.Nullity == 1){
						<input type="radio" name="awardtype.Nullity" value="1" checked="checked"/>启用
						<input type="radio" name="awardtype.Nullity" value="0"/>禁用
						@} else if(awardtype.Nullity == 0){
						<input type="radio" name="awardtype.Nullity" value="1"/>启用
						<input type="radio" name="awardtype.Nullity" value="0" checked="checked"/>禁用
						@}
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">创建时间: </td>
					<td>${awardtype.CollectDate!}</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"确认修改",btn_close:"关闭"}) {}
@}