@layout("/common/_container.html"){


<script type="text/javascript">
	var ctx = "${ctxPath}";
	var grid_selector = "#grid-table";
	var pager_selector = "";
	var _filter = '{"ReturnUserID":"${ReturnUserID}"}';
	_filter = encodeURI(_filter);

	$(function() {
		initGrid();
	});

	function initGrid() {
		var grid_url = ctx + "/${code}/subrecord";//查询列表接口
		var _colnames = [ "SID","转出玩家ID", "转出玩家昵称", "RID","接收玩家ID", "接收玩家昵称", "转出金币", "接收礼物时间", "赠送税收"];
		var _colmodel = [ {name:"UserID",index:"UserID", width:80,hidden:true},
		                  {name : "UserGameID", width : 100, sortable:false, formatter:rowShow}, 
		                  {name : "UserNickName", width : 100, sortable:false, formatter:rowShow}, 
		                  {name : "AgentUserID", hidden:true}, 
		                  {name : "AgentGameID", width : 80, sortable:false, formatter:rowShow}, 
		                  {name : "AgentNickName", width : 100, sortable:false, formatter:rowShow}, 
		                  {name : "GiveScore", width : 80, sortable:false, formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:","}}, 
		                  {name : "InsertTime", width : 80, sortable:false}, 
		                  {name : "RevenueScore", width : 100, sortable:false, formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:",",decimalPlaces:0}}];

		var obj = {
				GiveScore:0,
				TNum:0,
				RevenueScore:0
		};
		jQuery(grid_selector).jqGrid({
			url:grid_url,
			shrinkToFit : true,//适用于较少字段,响应式
			colNames : _colnames,
			colModel : _colmodel,
			postData : {where:_filter},
            multiselect : false,
			rownumbers : false,
			rowNum:-1,
			afterInsertRow: function(rowid, rowdata, rowelem) {
				if(BladeTool.isNotEmpty(rowdata['GiveScore'])) {
					obj['GiveScore'] += rowdata['GiveScore'];
				}
				if(BladeTool.isNotEmpty(rowdata['RevenueScore'])) {
					obj['RevenueScore'] += rowdata['RevenueScore'];
				}
				obj['TNum']++;
			},
			gridComplete:function() {
				$("#RevenueScore").text(fmoney(obj['RevenueScore'],0));
				$("#GiveScore").text(fmoney(obj['GiveScore'],0));
				$("#TNum").text(fmoney(obj['TNum'],0));
				obj = {
						GiveScore:0,
						TNum:0,
						RevenueScore:0
				};
			}
		});
		
		function rowShow(cellvalue, options, rowObject) {
			var html = '';
			if(options.colModel.name=='UserGameID' || options.colModel.name=='UserNickName') {
				html = '<a class="text-33C3F7" onclick="goNewTab(' + rowObject.UserID + ')" href="#"><strong>' + cellvalue + '</strong></a>';
			}else if(options.colModel.name=='AgentGameID' || options.colModel.name=='AgentNickName') {
				html = '<a class="text-33C3F7" onclick="goNewTab(' + rowObject.AgentUserID + ')" href="#"><strong>' + cellvalue + '</strong></a>';
			}
			return html;
		}
	}

	function goNewTab(id) {
		window.top.addTabs({
	        id: 'vip_revenuebill_detail_' + id,
	        title: '至尊VIP->税收详情查询->用户详情',
	        url: ctx + '/player/detailinfo/' + id,
	        icon: '',
	        close: true
	    });
	}
</script>


<!-- 配置grid -->
<div class="row">
	<form data-url="" method="post" class="" role="form">
		<!-- 配置查询 -->
		<div class="">
			<!-- 简单查询第一组 -->
			<select class="" id="UserType">
				<option value="">请选择</option>
				<option value="AgentGameID">玩家ID</option>
				<option value="AgentNickName">玩家昵称</option>
			</select>
			<input type="text" id="UserInfo"/>
			
			<!-- 简单查询第二组 -->
			<label class=""> 时间： </label> 
			<input type="text" id="start_time" value="" class="" />
			- 
			<input type="text" id="end_time" value="" class="" />

			<!-- 简单查询按钮 -->
			<label class="">
				<button class="btn btn-sx btn-white" type="button" onclick="goSearch()" id="gotoSearch">查询</button>
				<button class="btn btn-sx btn-white" type="button" onclick="resetForm()">重置</button>
			</label>
		</div>
	</form>
	<!-- 按钮组 -->
	<div class="total-block">
		总交易税收：<span class="text-red" id="RevenueScore">0</span>
		总接收次数：<span class="text-red" id="TNum">0</span>
		总交易金币：<span class="text-red" id="GiveScore">0</span>
	</div>
	<!-- grid -->
	<table id="grid-table"></table>
</div>
<script src="${ctxPath}/static/laydate/laydate.js"></script>
<script type="text/javascript">
	laydate({
		elem : '#start_time',
		format : 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月日
		choose : function(datas) { //选择日期完毕的回调
			/*   alert('得到：'+datas); */
		}
	});
	laydate({
		elem : '#end_time',
		format : 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月日
		choose : function(datas) { //选择日期完毕的回调
			/*   alert('得到：'+datas); */
		}
	});
	
	function goSearch() {
		var UserType = $("#UserType").val();
		var UserInfo = $("#UserInfo").val();
		var wheres = {};
		wheres['ReturnUserID'] = '${ReturnUserID}';
		
		if(BladeTool.isNotEmpty(UserType) && BladeTool.isEmpty(UserInfo)) {
			layer_alert('请输入玩家信息!', "warn");
	    	return;
		} else if(BladeTool.isEmpty(UserType) && BladeTool.isNotEmpty(UserInfo)) {
			layer_alert('请选择玩家信息!', "warn");
	    	return;
		} else {
			wheres[UserType] = UserInfo;
		}
		
		var start_time = $("#start_time").val();
		var end_time = $("#end_time").val();
	    if(start_time > end_time) {
	    	layer_alert('开始时间不能大于结束时间!', "warn");
	    	return;
	    }
		if(BladeTool.isNotEmpty(start_time)) {
			wheres['StartTime'] = start_time + " 00:00:00";
		}
		if(BladeTool.isNotEmpty(end_time)) {
			wheres['EndTime'] = end_time + " 23:59:59";
		}
	    
        var where = '';
		
		$.each(wheres, function(key, value) {
			if (BladeTool.isNotEmpty(key) && BladeTool.isNotEmpty(value)) {
				where += "\"" + key + "\":\"" + value + "\"" + ",";
			}
		});
		
		if (BladeTool.isNotEmpty(where)) {
			where = '{' + where;
			where = where.substring(0, where.length - 1);
			where += '}';
		}
        
		where = BladeTool.isEmpty(where) ? "" : encodeURI(where);
		isAutoPage = (BladeTool.isEmpty(where) ? true : false);
		$jqGrid.jqGrid("setGridParam", {
			datatype : "json",
			postData : {
				where : where
			}
		}).trigger("reloadGrid");
	}
	
	function resetForm() {
		$("input").val("");
		$("select").val("");
        reloadGrid();
	}
</script>

<!-- 引入列表页所需js -->
@include("/common/_listscript.html"){}
@}