@layout("/common/_container.html"){
<!-- PAGE CONTENT BEGINS -->
<div class="row">
    <div class="col-xs-12 tb-grid">
        <form data-url="${ctxPath}/rechargechannel/save" method="post" class="form-horizontal" role="form">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">商户名: </td>
                    <td ><select type="text" id="ChannelID" name="channel.pid"></select>
                    </td>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">大渠道名称: </td>
                    <td><input type="text" name="channel.channelName" value=""/></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">单次充值最小值: </td>
                    <td><input type="text" name="channel.min" value="" /></td>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">单次充值最大值: </td>
                    <td><input type="text" name="channel.max" value=""/></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">渠道额为赠送: </td>
                    <td><input type="text" name="channel.give" value="" /></td>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">渠道税率: </td>
                    <td><input type="text" name="channel.channelTaxRate" value=""></input></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">单位: </td>
                    <td>
                        <input type="radio" name="channel.unit" value="PHP">PHP</input>&nbsp;&nbsp;
                        <input type="radio" name="channel.unit" value="USDT">USDT</input>
                    </td>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">金币倍率: </td>
                    <td>
                        <input type="text" name="channel.goldProportion"></input>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">渠道类型: </td>
                    <td>
                        <input type="radio" name="channel.type" value="0">充值</input>&nbsp;&nbsp;
                        <input type="radio" name="channel.type" value="1">兑换</input>
                    </td>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否显示标签: </td>
                    <td>
                        <input type="radio" name="channel.isLabel" value="0" checked>否</input>&nbsp;&nbsp;
                        <input type="radio" name="channel.isLabel" value="1">NEW</input>
                        <input type="radio" name="channel.isLabel" value="2">HOT</input>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">总赢倍率: </td>
                    <td>
                        <input type="text" name="channel.winConf"></input>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<script>
    var ctx="${ctxPath}";
    $(function (){
        new Ajax(ctx + "/rechargechannel/getChannel", function (data) {
            if(data.code == 0 && BladeTool.isNotEmpty(data.data)) {
                var type = data.data;
                var html = '';
                for (var i = 0; i < type.length; i++) {
                    html += '<option value="' + type[i]['id'] + '">' + type[i]['mcName'] + '</option>';
                }
                $("#ChannelID").html(html);
            }
        }).start();
    })

</script>
<!-- 按钮 -->
@ include("/common/_curd/_btn.html",{btn_save:"确认添加",btn_close:"关闭"}) {}
@}