@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<div class="row">
	<div class="col-xs-12 tb-grid">
	<form data-url="${ctxPath}/blood/save" method="post" class="form-horizontal" role="form">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">血池名称: </td>
					<td colspan="3"><input name="blood.BloodPondbalanceName"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">当前血池值: </td>
					<td><input name="blood.BloodPondbalanceVal" value="0"/></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">血池常规触底值: </td>
					<td><input name="blood.BloodPondbalanceValOut" value="0"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">血池平衡值: </td>
					<td><input name="blood.BloodPondVal" value="0"/></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">放分警戒倍数配置: </td>
					<td><input name="blood.TrueAlertTimes1" value="0"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">放分极限倍数配置: </td>
					<td><input name="blood.TrueAlertTimes2" value="0"/></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">吃分警戒倍数配置: </td>
					<td><input name="blood.FlaseAlertTimes1" value="0"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">吃分极限倍数配置: </td>
					<td><input name="blood.FlaseAlertTimes2" value="0"/></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">放分作弊率1: </td>
					<td><input name="blood.TrueCheatate1" value="0"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">放分作弊率2: </td>
					<td><input name="blood.TrueCheatate2" value="0"/></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">放分作弊率3: </td>
					<td><input name="blood.TrueCheatate3" value="0"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">吃分作弊率1: </td>
					<td><input name="blood.FlaseCheatate1" value="0"/></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">吃分作弊率2: </td>
					<td><input name="blood.FlaseCheatate2" value="0"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">吃分作弊率3: </td>
					<td><input name="blood.FlaseCheatate3" value="0"/></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">当前状态: </td>
					<td>
						<select name="blood.State">
							<option value="1">放分</option>
							<option value="0">吃分</option>
						</select>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">血池银行: </td>
					<td colspan="3"><input name="blood.BloodPondBank" value="0"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否对玩家点控有影响: </td>
					<td>
						<select name="blood.IsMustControl">
							<option value="1">影响</option>
							<option value="0">不影响</option>
						</select>
					</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否生效: </td>
					<td>
						<select name="blood.Nullity">
							<option value="1">生效</option>
							<option value="0">失效</option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"确认新增",btn_close:"关闭"}) {}
@}