@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<div class="row">
	<div class="col-xs-12 tb-grid">
	<form data-url="${ctxPath}/blood/update" method="post" class="form-horizontal" role="form">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">血池ID: </td>
					<td>${blood.ID!}
					<input type="hidden" name="blood.ID" value="${blood.ID!}"/>
					</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">血池名称: </td>
					<td><input name="blood.BloodPondbalanceName" value="${blood.BloodPondbalanceName!}" /></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">当前血池值: </td>
					<td><input name="blood.BloodPondbalanceVal" value="${blood.BloodPondbalanceVal!}" /></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">血池常规触底值: </td>
					<td><input name="blood.BloodPondbalanceValOut" value="${blood.BloodPondbalanceValOut!}" /></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">血池平衡值: </td>
					<td><input name="blood.BloodPondVal" value="${blood.BloodPondVal!}" /></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">放分警戒倍数配置: </td>
					<td><input name="blood.TrueAlertTimes1" value="${blood.TrueAlertTimes1!}" /></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">放分极限倍数配置: </td>
					<td><input name="blood.TrueAlertTimes2" value="${blood.TrueAlertTimes2!}" /></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">吃分警戒倍数配置: </td>
					<td><input name="blood.FlaseAlertTimes1" value="${blood.FlaseAlertTimes1!}" /></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">吃分极限倍数配置: </td>
					<td><input name="blood.FlaseAlertTimes2" value="${blood.FlaseAlertTimes2!}" /></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">放分作弊率1: </td>
					<td><input name="blood.TrueCheatate1" value="${blood.TrueCheatate1!}" /></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">放分作弊率2: </td>
					<td><input name="blood.TrueCheatate2" value="${blood.TrueCheatate2!}" /></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">放分作弊率3: </td>
					<td><input name="blood.TrueCheatate3" value="${blood.TrueCheatate3!}" /></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">吃分作弊率1: </td>
					<td><input name="blood.FlaseCheatate1" value="${blood.FlaseCheatate1!}" /></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">吃分作弊率2: </td>
					<td><input name="blood.FlaseCheatate2" value="${blood.FlaseCheatate2!}" /></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">吃分作弊率3: </td>
					<td><input name="blood.FlaseCheatate3" value="${blood.FlaseCheatate3!}" /></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">当前状态: </td>
					<td>
						<select name="blood.State">
						@if(blood.State == 1){
							<option value="1" selected="selected">放分</option>
							<option value="0">吃分</option>
						@} else if(blood.State == 0){
							<option value="1">放分</option>
							<option value="0" selected="selected">吃分</option>
						@}
						</select>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">血池银行: </td>
					<td><input name="blood.BloodPondBank" value="${blood.BloodPondBank!}" /></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">操作时间: </td>
					<td>${blood.CreateTime!}</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否对玩家点控有影响: </td>
					<td>
						<select name="blood.IsMustControl">
							@if(blood.IsMustControl == 1){
							<option value="1" selected="selected">影响</option>
							<option value="0">不影响</option>
							@} else if(blood.IsMustControl == 0){
								<option value="1">影响</option>
								<option value="0" selected="selected">不影响</option>
							@}
						</select>
					</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否生效: </td>
					<td>
						<select name="blood.Nullity">
						@if(blood.Nullity == 1){
							<option value="1" selected="selected">生效</option>
							<option value="0">失效</option>
						@} else if(blood.Nullity == 0){
							<option value="1">生效</option>
							<option value="0" selected="selected">失效</option>
						@}
						</select>
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"确认修改",btn_close:"关闭"}) {}
@}