@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<div class="row">
	<div class="col-xs-12 tb-grid">
	<form data-url="${ctxPath}/${code}/update" method="post" class="form-horizontal" role="form">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">最小充值: </td>
					<td><input name="killbuguser.minRecharge" value="${killbuguser.minRecharge!0}" class="form-control"/>
						<input type="hidden" name="killbuguser.id" value="${killbuguser.id!}"/>大于等于
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">最大充值: </td>
					<td><input name="killbuguser.maxRecharge" value="${killbuguser.maxRecharge!0}" class="form-control"/>小于
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">当日最小充值: </td>
					<td><input name="killbuguser.TodayMinRechange" value="${killbuguser.TodayMinRechange!0}" class="form-control"/>大于和等于
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">当日总输赢: </td>
					<td><input name="killbuguser.ToDayScore" value="${killbuguser.ToDayScore!0}" class="form-control"/>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">总输赢: </td>
					<td><input name="killbuguser.TotalScore" value="${killbuguser.TotalScore!0}" class="form-control"/>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">当日点控次数: </td>
					<td><input name="killbuguser.pointControlNum" value="${killbuguser.pointControlNum!0}" class="form-control"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">点控次数: </td>
					<td><input name="killbuguser.TotalControlNum" value="${killbuguser.TotalControlNum!0}" class="form-control"/>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">作弊率: </td>
					<td><input name="killbuguser.cheatrate" value="${killbuguser.cheatRate!0}" class="form-control"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">作弊控制值: </td>
					<td><input name="killbuguser.CheatValue" value="${killbuguser.CheatValue!0}" class="form-control"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">最小作弊值: </td>
					<td><input name="killbuguser.cheatvaluepercentmin" value="${killbuguser.cheatValuePercentMin!0}" class="form-control"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">最大作弊值: </td>
					<td><input name="killbuguser.cheatvaluepercentmax" value="${killbuguser.cheatValuePercentMax!0}" class="form-control"/></td>
				</tr>
<!--				<tr>-->
<!--					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">最大兑换: </td>-->
<!--					<td><input name="killbuguser.maxExchange" value="${killbuguser.maxExchange!0}" class="form-control"/>小于和等于</td>-->
<!--				</tr>-->
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否启用: </td>
					<td>
						@if(killbuguser.isopen == 0){
							<input type="radio" name="killbuguser.isopen" value="0" checked="checked"/>否
							<input type="radio" name="killbuguser.isopen" value="1" />是
						@}else{
							<input type="radio" name="killbuguser.isopen" value="0" />否
							<input type="radio" name="killbuguser.isopen" value="1" checked="checked"/>是
						@}
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"确认修改",btn_close:"关闭"}) {}
@}