@layout("/common/_container.html"){
<!-- PAGE CONTENT BEGINS -->
<div class="row">
  <div class="col-xs-12 tb-grid">
    <form data-url="${ctxPath}/${code}/update" method="post" class="form-horizontal" role="form">
      <input type="hidden" name="usdtexchange.id" value="${usdtexchange.id}">
      <input type="hidden" name="status" value="${usdtexchange.status}">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">订单号: </td>
          <td><input type="text" name="usdtexchange.orderNumber" value="${usdtexchange.orderNumber}" readonly/></td>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">订单生成时间: </td>
          <td><input type="text" name="usdtexchange.createTime" value="${usdtexchange.createTime}" readonly/></td>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">消耗的打码量: </td>
          <td><input type="text" name="usdtexchange.consumptionCode" value="${usdtexchange.consumptionCode}" readonly/></td>
        </tr>
        <tr>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">玩家id: </td>
          <td><input type="text" name="usdtexchange.userId" value="${usdtexchange.userId}" readonly/></td>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">玩家钱包地址: </td>
          <td><input type="text" name="usdtexchange.urlPay" value="${usdtexchange.bankNumber}" readonly/></td>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">玩家电话: </td>
          <td><input type="text" name="usdtexchange.phone" value="${usdtexchange.phone}" readonly/></td>
        </tr>
        <tr>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">消耗金币: </td>
          <td><input type="text" name="usdtexchange.gold" value="${usdtexchange.gold}" readonly/></td>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">订单金额: </td>
          <td colspan="3"><input type="text" name="usdtexchange.topUpAmount" value="${usdtexchange.amount}" readonly/></td>
        </tr>
        <tr>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">当前订单状态: </td>
          <td id="td0"></td>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">订单状态: </td>
          <td id="td1" colspan="3"><input type="hidden" id="orderStatus" value="${usdtexchange.orderStatus}"/></td>
        </tr>
        <tr>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">反馈: </td>
          <td colspan="5">
            <textarea name="usdtexchange.feedback" cols="90">${usdtexchange.feedback}</textarea>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
<script>
  var dict_progress = {
    '1':"待支付",
    '2':"待审核",
    '3':"已关闭",
    '4':"已完成",
    '5':"已退回",
    '6':"支付失败",
    '7':"已关闭",
    '8':"待发送"
  }
  var cellvalue = $("[name='status']").val()
  var text1= '完成兑换：<input type="radio" name="usdtexchange.status" value="4"/> &nbsp&nbsp'
  var text2= '退回订单：<input type="radio" name="usdtexchange.status" value="5"/> &nbsp&nbsp'
  var text3= '审核通过：<input type="radio" name="usdtexchange.status" value="1"/> &nbsp&nbsp'
  var text4= '关闭订单：<input type="radio" name="usdtexchange.status" value="3"/>&nbsp&nbsp'
  var text6= '关闭订单：<input type="radio" name="usdtexchange.status" value="7"/>&nbsp&nbsp'
  var text5= '<span class="label label-warning">订单已经关闭不可以操作</span>'
  var html = function () {
    if(cellvalue === '1'){
      return text1+text2;
    }else if(cellvalue === '2'){
      return text3+text1+'<br/>'+text2;
    }else if(cellvalue === '3' || cellvalue==='7'){
      // 关闭的订单不可以操作
      return text5
    }else if(cellvalue === '6'){
      // 支付失败的订单进行退回
      return text2
    }else if(cellvalue === '5'){
      // 退回的订单进行失败关闭
      return text6
    }else if (cellvalue === '4'){
      // 完成的订单可以进行完成关闭
      return text4
    }else if (cellvalue === '8'){
      // 通过审核/待支付
      return text2
    }
  }
  $('#td1').append(html)
  var statu = '<span class="label label-info">'+dict_progress[cellvalue]+'</span>'
  $('#td0').append(statu)
</script>
<!-- 按钮 -->
@ include("/common/_curd/_btn.html",{btn_save:"确认修改",btn_close:"关闭"}) {}
@}
