@layout("/common/_container.html"){
<script type="text/javascript">
	var ctx="${ctxPath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	
	$(function(){
		backDom('话费剩余数量配置','aasystemint');
		initGrid();
		initMenuBtn("btns","${code}");
	});
	
	function initGrid(){
		var grid_url = ctx+"/${code}/list";//查询列表接口
		var _colnames=[ "ID","描述","剩余兑换数量","兑换专用类型","兑换专用子类型"];
		var _colmodel=[   
		                  {name:"ID", sortable:false,hidden:true},
		                  {name:"Desc", sortable:false},
		                  {name:"Param1", sortable:false,width:50},
		                  {name:"Param2", sortable:false,width:50},
		                  {name:"Param3", sortable:false,width:50}
						];
		
		jQuery(grid_selector).jqGrid({
			url:grid_url,
			shrinkToFit : true,//适用于较少字段,响应式
			colNames:_colnames,
			colModel:_colmodel, 
			jsonReader:{id:"ID"},
			pager : pager_selector,
			postData: {},
			rowNum:100,
			height: 'auto'
		});
	}
</script>
	<!-- 配置grid -->
	<div class="row">
		<div class="col-xs-12 tb-grid">
			<!-- 配置查询 -->
			@ var _col=[
			@			  {name:"话费类型",index:"Desc",type:"text"}
			@		   ];
			@ include("/common/_function/_search_multi.html",{"col":_col}){}
			<!-- 按钮组 -->
			<div class="welljq well-sm" id="btns"></div>
			<!-- grid -->
			<table id="grid-table"></table>
			<!-- 分页 -->
			<div id="grid-pager"></div>
		</div>
	</div>
	@include("/common/_listscript.html"){}
@}	