@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<div class="row">
	<div class="col-xs-12 tb-grid">
	<form data-url="${ctxPath}/box/save" method="post" class="form-horizontal" role="form">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">宝箱类型名称: </td>
					<td>
						<select name="box.ItemID" id="TreasureBoxType"></select>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">真实最小奖券值: </td>
					<td><input type="text" name="box.MinMedalConut" value=""/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">真实最大奖券值: </td>
					<td><input type="text" name="box.MaxMedalConut" value="" /></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">假象最小奖券值: </td>
					<td><input type="text" name="box.FlaseMinMedalConut" value="" /></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">假象最大奖券值: </td>
					<td><input type="text" name="box.FlaseMaxMedalConut" value="" /></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">几率: </td>
					<td><input type="text" name="box.ItemRate" value="" />‰(千分比)</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
<script>
	$(function() {
		new Ajax(BladeApp.ctxPath + "/treasurebox/getTreasureBox", function (data) {
	        console.log(data);
	        if(data.code == 0 && BladeTool.isNotEmpty(data.data)) {
	        	var type = data.data;
	        	var html = '<option value="">请选择</option>';
	        	for (var i = 0; i < type.length; i++) {
					html += '<option value="' + type[i]['ID'] + '">' + type[i]['TreasureBoxType'] + '</option>';
				}
	        	$("#TreasureBoxType").html(html);
	        }
	 }).start();
	});
</script>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"确认新增",btn_close:"关闭"}) {}
@}