@layout("/common/_container.html"){
<ul id="myTab" class="nav nav-tabs">
	<li class="active">
		<a href="#gameitem" data-toggle="tab">模块</a>
	</li>
	<li><a href="#gamekind" data-toggle="tab">游戏</a></li>
	<li><a href="#gametype" data-toggle="tab">类型</a></li>
	<li><a href="#gamemobilekind" data-toggle="tab">手游</a></li>
</ul>
<iframe id="game" src="${ctxPath}/gameitem/" style="border:none;height: 90vh;" width="100%">
</iframe>
<script>
	$(function() {
		$('.nav-tabs a').on('show.bs.tab', function(event){
	        $(event.target.hash).css("height","450px").siblings().css("height","0");
	        var tabId = event.target.hash.replace('#','');
	        $("#game").attr("src","${ctxPath}/" + tabId + "/");
	    });
	});
</script>
@}	