@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<div class="row">
	<div class="col-xs-12 tb-grid">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">房间: </td>
					<td>${lbloodpoolconfig.ServerName!}</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">状态: </td>
					<td>${lbloodpoolconfig.StatusName!}</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">高严重报警线: </td>
					<td>${lbloodpoolconfig.failMaxLine!}</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">高严重报警线吐分概率: </td>
					<td>${lbloodpoolconfig.maxFailOutCheat!}</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">高报警线: </td>
					<td>${lbloodpoolconfig.maxLine!}</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">高报警线吐分概率: </td>
					<td>${lbloodpoolconfig.maxOutCheat!}</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">顶线拐点: </td>
					<td>${lbloodpoolconfig.highLine!}</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">通常吐分概率: </td>
					<td>${lbloodpoolconfig.normalOutCheat!}</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">底线拐点: </td>
					<td>${lbloodpoolconfig.zeroLine!}</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">通常吃分概率: </td>
					<td>${lbloodpoolconfig.normalEatCheat!}</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">低报警线: </td>
					<td>${lbloodpoolconfig.minLine!}</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">低报警线吃分概率: </td>
					<td>${lbloodpoolconfig.minEatCheat!}</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">低严重报警线: </td>
					<td>${lbloodpoolconfig.failMinLine!}</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">低严重低报警线吃分概率: </td>
					<td>${lbloodpoolconfig.minFailEatCheat!}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_close:"关闭"}) {}
@}
