@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
	<form data-url="${ctxPath}/${code}/update" method="post" class="form-horizontal" role="form">
		<!-- 表单 -->
			<div class="space-4"></div>
			<input type="hidden" id="form_token" value="0"/>
			<input type="hidden" name="gamenotice.newsId" value="${gamenotice.newsId}"/>
			<input type="hidden" name="gamenotice.type" value="${gamenotice.ClassID}"/>
			<table class="table table-bordered">
						<tr>
							<td style="vertical-align: middle !important;width:15%;text-align:right;">公告名称 </td>
							<td colspan="3" style="width:85%;padding:0;">
								<input type="text" id="subject" name="gamenotice.subject" value="${gamenotice.subject}" class="form-control" />
							</td>
						</tr>
						<tr>
							<td style="vertical-align: middle !important;text-align:right;">公告平台类型 </td>
							<td>
								<select name="gamenotice.ptypeid" id="ptypeid"></select>
							</td>
						</tr>
						<tr>
							<td style="vertical-align: middle !important;text-align:right;">启用状态 </td>
							<td>${gamenotice.IsLockName}</td>
						</tr>
						<tr>
							<td style="vertical-align: middle !important;width:15%;text-align:right;">公告内容 </td>
							<td colspan="3" style="width:85%;padding:0;">
								<blade:kindeditor id="formattedBody" name="gamenotice.body" height="200px" value="${gamenotice.Body}"/>
							</td>
						</tr>
						@if(gamenotice.ClassID == 5){
						<tr>
							<td style="vertical-align: middle !important;width:15%;text-align:right;">发送时间 </td>
							<td colspan="3" style="width:35%;padding:0;">${gamenotice.StartTime}至${gamenotice.EndTime}</td>
						</tr>
						<tr>
							<td style="vertical-align: middle !important;width:15%;text-align:right;">间隔时间 </td>
							<td colspan="3" style="width:35%;padding:0;">${gamenotice.Interval}</td>
						</tr>
						@}
			</table>
	<div class="space-4"></div>
	<style>
		.form-control ,textarea,select,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"] {
			border-width: 0px;
			background-color:#fcfcfc;
		}
		table {
			background-color:#f5f5f5;
		}
		.ke-container {
			border-width: 0px;
		}
		.ke-input-text {
			background-color: #f1f1f1 !important;
		}
	</style>
	
	<script>
		$(function() {
			new Ajax("${ctxPath}/newsplatform/getPlatformInfo", function (data) {
		        console.log(data);
		        if(data.code == 0 && BladeTool.isNotEmpty(data.data)) {
		        	var type = data.data;
		        	var html = '<option value="1">请选择</option>';
		        	for (var i = 0; i < type.length; i++) {
						html += '<option value="' + type[i]['ID'] + '">' + type[i]['PlatformName'] + '</option>';
					}
		        	$("#ptypeid").html(html);
		        }
		 	}).start();
		});
	</script>
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"修改",btn_close:"关闭"}) {}

	</form>
@}