@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
	<form class="form-horizontal" role="form">
		<!-- 表单 -->
		<div class="space-4"></div>
		<table class="table table-bordered">
						<tr>
							<td style="vertical-align: middle !important;width:15%;text-align:right;">公告名称 </td>
							<td colspan="3" style="width:85%;padding:0;">
								${gamenotice.subject}
							</td>
						</tr>
						<tr>
							<td style="vertical-align: middle !important;text-align:right;">公告平台类型 </td>
							<td>${gamenotice.PlatformName}</td>
						</tr>
						<tr>
							<td style="vertical-align: middle !important;text-align:right;">启用状态 </td>
							<td>${gamenotice.IsLockName}</td>
						</tr>
						<tr>
							<td style="vertical-align: middle !important;width:15%;text-align:right;">公告内容 </td>
							<td colspan="3" style="width:85%;padding:0;">
								${gamenotice.Body}
							</td>
						</tr>
						@if(gamenotice.ClassID == 5){
						<tr>
							<td style="vertical-align: middle !important;width:15%;text-align:right;">发送时间 </td>
							<td colspan="3" style="width:35%;padding:0;">${gamenotice.StartTime}至${gamenotice.EndTime}</td>
						</tr>
						<tr>
							<td style="vertical-align: middle !important;width:15%;text-align:right;">间隔时间 </td>
							<td colspan="3" style="width:35%;padding:0;">${gamenotice.Interval}</td>
						</tr>
						@}
			</table>
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_close:"关闭"}) {}
	</form>
@}
