@layout("/common/_container.html"){
<!-- PAGE CONTENT BEGINS -->
<div class="row">
    <div class="col-xs-12 tb-grid">
        <form data-url="${ctxPath}/${code}/update" method="post" class="form-horizontal" role="form">
            <input type="hidden" name="firstrechage.id" value="${firstrechage.id}"/>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">购买金额: </td>
                    <td ><input name="firstrechage.amount" value="${firstrechage.amount}"/></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">获得金币: </td>
                    <td><input name="firstrechage.gold" value="${firstrechage.gold}"/></td>

                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">排序: </td>
                    <td><input type="text" name="firstrechage.sort" value="${firstrechage.sort}" /></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">赠送数量: </td>
                    <td><input type="text" name="firstrechage.give_gold" value="${firstrechage.give_gold}" /></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">赠送类型: </td>
                    <td>
                        <input type="radio" name="firstrechage.type" value="2" ${firstrechage.type==2?"checked":""}>转盘次数</input>
                        <input type="radio" name="firstrechage.type" value="1" ${firstrechage.type==1?"checked":""}>金币数量</input>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">商品id: </td>
                    <td><input type="text" name="firstrechage.skuId" value="${firstrechage.skuId}" /></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<script>

</script>
<!-- 按钮 -->
@ include("/common/_curd/_btn.html",{btn_save:"确认修改",btn_close:"关闭"}) {}
@}
