@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<div class="row">
	<div class="col-xs-12 tb-grid">
	<form data-url="${ctxPath}/${code}/update" method="post" class="form-horizontal" role="form">
		<input type="hidden" name="aaActivitycore.ActivityCore_Id" value="${aaActivitycore.ActivityCore_Id!0}"/>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">公告标题: </td>
					<td><input name="aaActivitycore.title" value="${aaActivitycore.title!''}"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">公告内容: </td>
					<td><input name="aaActivitycore.remark" value="${aaActivitycore.remark!''}"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">排序: </td>
					<td><input name="aaActivitycore.sortno" value="${aaActivitycore.sortno!0}"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否开启: </td>
					<td>
						@if(aaActivitycore.isonline == 1){
							<input type="radio" name="aaActivitycore.isonline" value="0"/>否
							<input type="radio" name="aaActivitycore.isonline" value="1" checked="checked"/>是
						@} else {
							<input type="radio" name="aaActivitycore.isonline" value="0" checked="checked"/>否
							<input type="radio" name="aaActivitycore.isonline" value="1"/>是
						@}
					
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">公告图标地址: </td>
					<td><input name="aaActivitycore.imgurl" value="${aaActivitycore.imgurl!''}"/></td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"确认修改",btn_close:"关闭"}) {}
@}