@layout("/common/_container.html"){
<script src="${ctxPath}/static/search/js/excel.js"></script>
<script type="text/javascript">
	var ctx = "${ctxPath}";
	var export_source = '${source}';
	var where = '${where}';
	var type = '${type}';
</script>

<!-- 配置grid -->
<div class="row">
	<form data-url="" method="post" class="" role="form" style="text-align: center;padding-top: 20px;">
		<!-- 配置查询 -->
		<div class="">
			<!-- 简单查询第一组 -->
			<label class=""> 时间： </label> 
			<input type="text" id="start_time" value="" class="" />
			- 
			<input type="text" id="end_time" value="" class="" />

			<!-- 简单查询按钮 -->
			<label class="">
				<button class="btn btn-sx btn-white btn-search" type="button" onclick="goSearch()">导出</button>
			</label>
		</div>
	</form>
</div>
<script src="${ctxPath}/static/laydate/laydate.js"></script>
<script type="text/javascript">
	laydate({
		elem : '#start_time',
		format : 'YYYY-MM-DD hh:mm:ss', // 分隔符可以任意定义，该例子表示只显示年月日
		istime: true,
		choose : function(datas) { //选择日期完毕的回调
			/*   alert('得到：'+datas); */
		}
	});
	laydate({
		elem : '#end_time',
		format : 'YYYY-MM-DD hh:mm:ss', // 分隔符可以任意定义，该例子表示只显示年月日
		istime: true,
		choose : function(datas) { //选择日期完毕的回调
			/*   alert('得到：'+datas); */
		}
	});
	
	function goSearch() {
		var _colnames=[];
		var _colmodel=[];
		var postdata = {};
		var code = '';
		var source = export_source;
		var sort = '';
		var order = '';
    	
    	where = JSON.parse(where);
    	var startKey = '';
    	var endKey = '';
    	switch(type) {
			case 'gold_change_log':
				startKey = 'InsertTime_dategt';
				endKey = 'InsertTime_datelt';
				_colnames = ['时间','变动金币'];
				_colmodel = [{name:"InsertTime"},{name:"Score"}];
				code = 'player';
				sort = 'InsertTime';
				order = 'desc';
				break;
			case 'blood_change':
				startKey = 'startTime';
				endKey = 'endTime';
				_colnames = ['时间', '剩余血池', '血池平衡值'];
				_colmodel = [{name:"InsertTime"},{name:"BloodPondScore"},{name:"BloodPondVal"}];
				code = 'room';
				sort = 'InsertTime';
				order = 'desc';
				break;
			case 'player_search':
				//startKey = 'startTime';
				//endKey = 'endTime';
				_colnames = ['玩家ID', '昵称', '注册时间', '登录时间', '总输赢', '当日输赢', '金币', '接收金币', '赠送金币', '奖券', '充值金额', '充值次数', '首选游戏', '游戏状态', '类型', '账号状态'];
				_colmodel = [{name:"UserID"},{name:"FirstName"},{name:"RegisterDate"},{name:"LastLogonDate"},{name:"TotalWaste"},{name:"DayWaste"},{name:"Score"},{name:"RcvScore"},{name:"SendScore"},{name:"UserMedal"},{name:"RechargeNum"},{name:"RechargeCountNum"},{name:"FirstEnterKindName"},{name:"OnlineServerName"},{name:"TypeName"},{name:"NullityName"}];
				code = 'player';
				//sort = 'InsertTime';
				//order = 'desc';
				break;
		}
    	
		var start_time = $("#start_time").val();
		var end_time = $("#end_time").val();
		if(BladeTool.isNotEmpty(start_time)) {
			where[startKey] = start_time;
		}
		if(BladeTool.isNotEmpty(end_time)) {
			where[endKey] = end_time;
		}
		postdata = {where:JSON.stringify(where),sort:sort,order:order};
    	downExcel(_colnames,_colmodel,source,postdata,code,true);
	}
</script>
@}