@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<div class="row">
	<div class="col-xs-12 tb-grid">
	<form data-url="${ctxPath}/${code}/save" method="post" class="form-horizontal" role="form">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">新包ID: </td>
					<td><input name="clienttypemapnew.NewType" value="0"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">旧包ID: </td>
					<td><input name="clienttypemapnew.OldType" value="0" /></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否上线销售: </td>
					<td>
						<input type="radio" value="1" name="clienttypemapnew.IsOnline" checked="checked"/>是
						<input type="radio" value="0" name="clienttypemapnew.IsOnline"/>否
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否开启高防: </td>
					<td>
						<input type="radio" value="1" name="clienttypemapnew.IsCanSeeAll" checked="checked"/>允许
						<input type="radio" value="0" name="clienttypemapnew.IsCanSeeAll"/>禁止
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否允许活动: </td>
					<td>
						<input type="radio" value="1" name="clienttypemapnew.IsForbidActivity" checked="checked"/>允许
						<input type="radio" value="0" name="clienttypemapnew.IsForbidActivity"/>禁止
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否允许赠送: </td>
					<td>
						<input type="radio" value="1" name="clienttypemapnew.IsForbidGift" checked="checked"/>允许
						<input type="radio" value="0" name="clienttypemapnew.IsForbidGift"/>禁止
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否允许签到: </td>
					<td>
						<input type="radio" value="1" name="clienttypemapnew.IsForbidSign" checked="checked"/>允许
						<input type="radio" value="0" name="clienttypemapnew.IsForbidSign"/>禁止
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否能够显示系统自定义头像: </td>
					<td>
						<input type="radio" value="1" name="clienttypemapnew.canseecustomhead" checked="checked"/>是
						<input type="radio" value="0" name="clienttypemapnew.canseecustomhead"/>否
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否开启首充礼包: </td>
					<td>
						<input type="radio" value="1" name="clienttypemapnew.rechargegift" checked="checked"/>是
						<input type="radio" value="0" name="clienttypemapnew.rechargegift"/>否
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">版本号: </td>
					<td>
						<input type="text" value="" name="clienttypemapnew.isuserthirdrecharge" />
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"确认新增",btn_close:"关闭"}) {}
@}