@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<div class="row">
	<div class="col-xs-12 tb-grid">
	<form data-url="" method="post" class="form-horizontal" role="form">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">会员ID: </td>
					<td>${viptype.MemberOrder!}</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">会员名称: </td>
					<td>${viptype.MemberName!}</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">禁止进行游戏: </td>
					<td>
						@if(CanPlay == 0){
							<span class="text-red"><span class="glyphicon glyphicon-remove"></span></span>
						@} else{
							<span class="text-green"><span class="glyphicon glyphicon-ok"></span></span>
						@}
					</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">禁止旁观游戏: </td>
					<td>
						@if(CanLookon == 0){
							<span class="text-red"><span class="glyphicon glyphicon-remove"></span></span>
						@} else{
							<span class="text-green"><span class="glyphicon glyphicon-ok"></span></span>
						@}
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">禁止大厅聊天: </td>
					<td>
						@if(CanRoomChat == 0){
							<span class="text-red"><span class="glyphicon glyphicon-remove"></span></span>
						@} else{
							<span class="text-green"><span class="glyphicon glyphicon-ok"></span></span>
						@}
					</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">禁止游戏聊天: </td>
					<td>
						@if(CanGameChat == 0){
							<span class="text-red"><span class="glyphicon glyphicon-remove"></span></span>
						@} else{
							<span class="text-green"><span class="glyphicon glyphicon-ok"></span></span>
						@}
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">禁止上榜: </td>
					<td>
						@if(CanGameTop == 0){
							<span class="text-red"><span class="glyphicon glyphicon-remove"></span></span>
						@} else{
							<span class="text-green"><span class="glyphicon glyphicon-ok"></span></span>
						@}
					</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">禁止进行交易: </td>
					<td>
						@if(CanGameTrade == 0){
							<span class="text-red"><span class="glyphicon glyphicon-remove"></span></span>
						@} else{
							<span class="text-green"><span class="glyphicon glyphicon-ok"></span></span>
						@}
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否能游戏双倍积分: </td>
					<td>
						@if(CanDoubleScore == 0){
							<span class="text-red"><span class="glyphicon glyphicon-remove"></span></span>
						@} else{
							<span class="text-green"><span class="glyphicon glyphicon-ok"></span></span>
						@}
					</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否能剔除用户: </td>
					<td>
						@if(CanKillOutUser == 0){
							<span class="text-red"><span class="glyphicon glyphicon-remove"></span></span>
						@} else{
							<span class="text-green"><span class="glyphicon glyphicon-ok"></span></span>
						@}
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否能能进入VIP房间: </td>
					<td>
						@if(CanEnterVipRoom == 0){
							<span class="text-red"><span class="glyphicon glyphicon-remove"></span></span>
						@} else{
							<span class="text-green"><span class="glyphicon glyphicon-ok"></span></span>
						@}
					</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否能参加比赛: </td>
					<td>
						@if(IsGameMatchUser == 0){
							<span class="text-red"><span class="glyphicon glyphicon-remove"></span></span>
						@} else{
							<span class="text-green"><span class="glyphicon glyphicon-ok"></span></span>
						@}
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">禁止发送小喇叭: </td>
					<td>
						@if(CanTrumpet == 0){
							<span class="text-red"><span class="glyphicon glyphicon-remove"></span></span>
						@} else{
							<span class="text-green"><span class="glyphicon glyphicon-ok"></span></span>
						@}
					</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否增加赠送礼物功能: </td>
					<td>
						@if(CanSendGift == 0){
							<span class="text-red"><span class="glyphicon glyphicon-remove"></span></span>
						@} else{
							<span class="text-green"><span class="glyphicon glyphicon-ok"></span></span>
						@}
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否增加上线公告功能: </td>
					<td colspan="3">
						@if(CanOnlineNotice == 0){
							<span class="text-red"><span class="glyphicon glyphicon-remove"></span></span>
						@} else{
							<span class="text-green"><span class="glyphicon glyphicon-ok"></span></span>
						@}
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_close:"关闭"}) {}
@}