@layout("/common/_container.html"){
<script type="text/javascript">
	var ctx="${ctxPath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	$(function(){
		backDom('房间配置','room_config');
		initGrid();
		initMenuBtn("btns","room_config");
	});
	
	function initGrid(){
		var grid_url = ctx+"/${code}/list";//查询列表接口
		var _colnames=[ "<span class='sort-cols'>房间ID</span>","<span class='sort-cols'>房间名称</span>","税率","税收起征值","血池自动填池线","每日增加血池最大值","当日还剩可加值","每次添加的值","自动增加血池值CD"];
		var _colmodel=[   {name:"ServerID", index:"ServerID"},
						  {name:"RoomName", index:"RoomName"},
						  {name:"taxRate", sortable:false},
						  {name:"taxLimitValue", sortable:false},
						  {name:"lessBloodValue", sortable:false},
						  {name:"autoAddBloodDailyMax", sortable:false},
						  {name:"autoAddBloodDailyLast", sortable:false},
						  {name:"autoAddBloodDailyTimesValue", sortable:false},
						  {name:"autoAddBloodDailyTimeCDInSec", sortable:false}
						];
		
		jQuery(grid_selector).jqGrid({
			url:grid_url,
			//autowidth: true,
			shrinkToFit : true,//适用于较少字段,响应式
			colNames:_colnames,
			colModel:_colmodel, 
			rownumbers : false,
			jsonReader:{id:"ServerID"},
			pager : pager_selector,
			postData: {},
			rowNum:100,
			height: 'auto'
		});
		

	}
</script>
	<!-- 配置grid -->
	<div class="row">
		<div class="col-xs-12 tb-grid">
			<!-- 配置查询 -->
			@ var _col=[
			@			  {name:"房间ID",index:"ServerID",type:"text"},
			@			  {name:"房间名称",index:"RoomName",type:"text"}
			@		   ];
			@ include("/common/_function/_search_multi.html",{"col":_col}){}
			<!-- 按钮组 -->
			<div class="welljq well-sm" id="btns"></div>
			<!-- grid -->
			<table id="grid-table"></table>
			<!-- 分页 -->
			<div id="grid-pager"></div>
		</div>
	</div>
	
	@include("/common/_listscript.html"){}
@}	