@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<ul id="myTab" class="nav nav-tabs"></ul>
<iframe id="configinfo" src="${ctxPath}/${code}/livcardconfig" style="border:none;height: 90vh;margin-top: 10px;" width="100%">
</iframe>
<script type="text/javascript">
	$(function(){
		var ConfigKey = '${ConfigKey}';
		new Ajax(BladeApp.ctxPath + "/cache/getBtn", function (data) {
	        if (data.code === 0) {
	            var menus = data.data;
	            var html = '';
	            for (var i = 0; i < menus.length; i++) {
	                if (menus[i].name == '') continue;
	                if(menus[i].code == ConfigKey) {
	                	html += '<li class="active">';
	                } else {
	                	html += '<li>';
	                }
	                html += '<a href="#'+menus[i].code+'" data-toggle="tab">' + menus[i].name + '</a></li>';
	            }
	            $('#myTab').html(html);
	            bindMenuBtn();
	        }
	    }).set("code", '${code}').start();
	});
	
	function bindMenuBtn() {
		$('.nav-tabs a').on('show.bs.tab', function(event){
	        //$(event.target.hash).css("height","450px").siblings().css("height","0");
	        var tabId = event.target.hash.replace('#','');
	        $("#configinfo").attr("src","${ctxPath}/${code}/" + tabId);
	    });
	}
</script>
@}