@layout("/common/_container.html"){
<style>
html{
overflow: hidden;
}
</style>
<script type="text/javascript">
	var ctx="${ctxPath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	
	$(function(){
		initGrid();
		initMenuBtn("btns","membercard");
	});
	
	function initGrid(){
		var grid_url = ctx+"/${code}/membercardlist";//查询列表接口
		var _colnames=[ "生成批次","生成日期","实卡名称","实卡数量","实卡价格","总金额","赠送游戏豆","赠送游戏币","管理员","销售商"];
		var _colmodel=[   {name:"BuildID", sortable:false},
		                  {name:"BuildDate", sortable:false},
		                  {name:"CardName", sortable:false},
		                  {name:"BuildCount", sortable:false},
		                  {name:"CardPrice", sortable:false},
		                  {name:"BuildAmount", sortable:false},
		                  {name:"Currency", sortable:false},
						  {name:"Gold", sortable:false},
						  {name:"AdminName", sortable:false},
						  {name:"SalesPerson", sortable:false}
						];
		
		jQuery(grid_selector).jqGrid({
			url:grid_url,
			shrinkToFit : true,//适用于较少字段,响应式
			colNames:_colnames,
			colModel:_colmodel, 
			jsonReader:{id:"BuildID"},
			pager : pager_selector,
			postData: {sort:'BuildDate',order:'desc'},
			rowNum:100,
			height: 'auto',
			rownumbers : false
		});
	}
</script>
	<!-- 配置grid -->
	<div class="row">
		<div class="col-xs-12 tb-grid">
			<!-- 配置查询 -->
			@ var _col=[
			@			  {name:"批次",index:"BuildID",type:"text"},
			@			  {name:"管理员",index:"AdminName",type:"text"}
			@		   ];
			@ include("/common/_function/_search_multi.html",{"col":_col}){}
			<!-- 按钮组 -->
			<div class="welljq well-sm" id="btns"></div>
			<!-- grid -->
			<table id="grid-table"></table>
			<!-- 分页 -->
			<div id="grid-pager"></div>
		</div>
	</div>
	
	<script src="${ctxPath}/static/search/js/excel.js" type="text/javascript" ></script>
	@include("/common/_listscript.html"){}
@}	