@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<div class="row">
	<div class="col-xs-12 tb-grid">
	<form data-url="${ctxPath}/${code}/update" method="post" class="form-horizontal" role="form">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">有效期: </td>
					<td>
						<input type="text" id="start_time" name="livcard.ValidDate" value=""/>
						<input type="hidden" name="livcard.BuildID" value="${BuildID}"/>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">密码: </td>
					<td>
						<input type="text" name="livcard.Password" value=""/>
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
<script src="${ctxPath}/static/laydate/laydate.js"></script>
<script type="text/javascript">
	laydate({
		elem : '#start_time',
		format : 'YYYY-MM-DD hh:mm:ss', // 分隔符可以任意定义，该例子表示只显示年月日
		istime: true,
		choose : function(datas) { //选择日期完毕的回调
			/*   alert('得到：'+datas); */
		}
	});
</script>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"确定修改",btn_close:"关闭"}) {}
@}