@layout("/common/_container.html"){
<script type="text/javascript">
	var ctx="${ctxPath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	var _filter = '';
	var BuildID = '${BuildID}';
	if(BladeTool.isNotEmpty('${BuildID}')) {
		_filter = '{"BuildID":"${BuildID}"}';
	}
	
	$(function(){
		initGrid();
		initMenuBtn("btns","membercard_view");
	});
	
	function initGrid(){
		var grid_url = ctx+"/${code}/mcdlist";//查询列表接口
		var _colnames=[ "ID","卡号","实卡名称","实卡价格","赠送游戏豆","赠送游戏币","有效期限","充值日期","使用范围","销售商","禁用状态"];
		var _colmodel=[   
		                  {name:"CardID", sortable:false,hidden:true},
		                  {name:"SerialID", sortable:false},
		                  {name:"CardName", sortable:false},
		                  {name:"CardPrice", sortable:false},
		                  {name:"Currency", sortable:false},
						  {name:"Gold", sortable:false},
						  {name:"ValidDate", sortable:false},
						  {name:"ApplyDate", sortable:false},
						  {name:"UseRange", sortable:false,formatter:rowShow},
						  {name:"SalesPerson", sortable:false},
						  {name:"NullityName", sortable:false}
						];
		
		jQuery(grid_selector).jqGrid({
			url:grid_url,
			shrinkToFit : true,//适用于较少字段,响应式
			colNames:_colnames,
			colModel:_colmodel, 
			jsonReader:{id:"CardID"},
			pager : pager_selector,
			postData: {where: _filter,sort:'ValidDate',order:'desc'},
			rowNum:100,
			height: 'auto',
			rownumbers : false
		});
		function rowShow(cellvalue, options, rowObject) {
			var html = '';
			if(options.colModel.name=='UseRange') {
				if(cellvalue==0) {
					html = '全部用户';
				} else if(cellvalue==1) {
					html = '新注册用户';
				} else if(cellvalue==2) {
					html = '第一次充值用户';
				}
			}
			return html;
		}
	}
</script>
	<!-- 配置grid -->
	<div class="row">
		<div class="col-xs-12 tb-grid">
			<form data-url="" method="post" class="" role="form">
				<!-- 配置查询 -->
				<div class="">
					<!-- 简单查询第一组 -->
					<label class=""> 禁用状态： </label> 
					<select id="Nullity">
						<option value="">请选择</option>
						<option value="0">启用</option>
						<option value="1">禁用</option>
					</select>
		
					<!-- 简单查询按钮 -->
					<label class="">
						<button class="btn btn-sx btn-white" type="button" onclick="goSearch()" id="gotoSearch">查询</button>
						<button class="btn btn-sx btn-white" type="button" onclick="resetForm()">重置</button>
					</label>
				</div>
			</form>
			<!-- 按钮组 -->
			<div class="welljq well-sm" id="btns"></div>
			<!-- grid -->
			<table id="grid-table"></table>
			<!-- 分页 -->
			<div id="grid-pager"></div>
		</div>
	</div>
	
	<script>
	function goSearch() {
		var Nullity = $("#Nullity").val();
		var wheres = {};
		wheres['BuildID'] = '${BuildID}';

		if(BladeTool.isNotEmpty(Nullity)) {
			wheres['Nullity'] = Nullity;
		}
        var where = "";
		
		$.each(wheres, function(key, value) {
			if (BladeTool.isNotEmpty(key) && BladeTool.isNotEmpty(value)) {
				where += "\"" + key + "\":\"" + value + "\"" + ",";
			}
		});
		
		if (BladeTool.isNotEmpty(where)) {
			where = '{' + where;
			where = where.substring(0, where.length - 1);
			where += '}';
		}
        
		where = BladeTool.isEmpty(where) ? "" : encodeURI(where);
		isAutoPage = (BladeTool.isEmpty(where) ? true : false);
		var pageNum = $jqGrid.getGridParam('page');
		$jqGrid.jqGrid("setGridParam", {
			datatype : "json",
			postData : {
				where : where
			},
			page: (isAutoPage) ? pageNum : 1
		}).trigger("reloadGrid");
	}
	
	function resetForm() {
		$("input").val("");
		$("select").val("");
        reloadGrid();
	}
	</script>
	@include("/common/_listscript.html"){}
@}	