@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<div class="row">
	<div class="col-xs-12 tb-grid">
	<form data-url="${ctxPath}/${code}/update" method="post" class="form-horizontal" role="form">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">键名: </td>
					<td>${configinfo.ConfigKey!}
						<input type="hidden" name="configinfo.ConfigID" value="${configinfo.configid}"/>
					</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">名称: </td>
					<td>${configinfo.configname!}</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">字段说明: </td>
					<td colspan="3">
						<textarea rows="5" cols="50" name="configinfo.ConfigString">${configinfo.configstring!}</textarea>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">字段1: </td>
					<td><input name="configinfo.Field1" value="${configinfo.field1!}" class="form-control"/></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">字段2: </td>
					<td><input name="configinfo.Field2" value="${configinfo.field2!}" class="form-control"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">字段3: </td>
					<td><input name="configinfo.Field3" value="${configinfo.field3!}" class="form-control"/></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">字段4: </td>
					<td><input name="configinfo.Field4" value="${ configinfo.field4!}" class="form-control"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">字段5: </td>
					<td><input name="configinfo.Field5" value="${configinfo.field5!}" class="form-control"/></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">字段6: </td>
					<td><input name="configinfo.Field6" value="${configinfo.field6!}" class="form-control"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">字段7: </td>
					<td colspan="3"><input name="configinfo.Field7" value="${configinfo.field7!}" class="form-control"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">字段8: </td>
					<td colspan="3">
						<blade:kindeditor id="Field8" name="configinfo.Field8" height="200px" width="80%" value="${configinfo.field8}"/>
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"保存"}) {}
@}