@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<ul id="myTab" class="nav nav-tabs"></ul>
<iframe id="configinfo" src="" style="border:none;height: 90vh;margin-top: 10px;" width="100%">
</iframe>
<script type="text/javascript">
	$(function(){
		new Ajax(BladeApp.ctxPath + "/newsplatform/getPlatformInfo", function (data) {
	        if (data.code === 0) {
	            var menus = data.data;
	            var html = '';
	            for (var i = 0; i < menus.length; i++) {
	                if(i == 0) {
	                	html += '<li class="active">';
	                	$("#configinfo").attr("src","${ctxPath}/${code}/main?id=" + menus[i]['ID']);
	                } else {
	                	html += '<li>';
	                }
	                html += '<a href="#'+menus[i]['ID']+'" data-toggle="tab">' + menus[i]['PlatformName'] + '</a></li>';
	            }
	            $('#myTab').html(html);
	            bindMenuBtn();
	        }
	    }).start();
	});
	
	function bindMenuBtn() {
		$('.nav-tabs a').on('show.bs.tab', function(event){
	        //$(event.target.hash).css("height","450px").siblings().css("height","0");
	        var tabId = event.target.hash.replace('#','');
	        $("#configinfo").attr("src","${ctxPath}/${code}/main?id=" + tabId);
	    });
	}
</script>
@}