@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<div class="row">
	<div class="col-xs-12 tb-grid">
	<form data-url="${ctxPath}/${code}/update" method="post" class="form-horizontal" role="form">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">键名: </td>
					<td><input name="siteconfig.ConfigKey" value="${siteconfig.ConfigKey!}" class="form-control"/>
						<input type="hidden" name="siteconfig.ConfigID" value="${siteconfig.configid}"/>
						<input name="siteconfig.PlatformID" type="hidden" value="${siteconfig.platformid}"/>
					</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">名称: </td>
					<td><input name="siteconfig.configname" value="${siteconfig.configname!}" class="form-control"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">字段说明: </td>
					<td colspan="3">
						<textarea rows="5" cols="50" name="siteconfig.ConfigString">${siteconfig.configstring!}</textarea>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">字段1: </td>
					<td><input name="siteconfig.Field1" value="${siteconfig.field1!}" class="form-control"/></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">字段2: </td>
					<td><input name="siteconfig.Field2" value="${siteconfig.field2!}" class="form-control"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">字段3: </td>
					<td><input name="siteconfig.Field3" value="${siteconfig.field3!}" class="form-control"/></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">字段4: </td>
					<td><input name="siteconfig.Field4" value="${ siteconfig.field4!}" class="form-control"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">字段5: </td>
					<td><input name="siteconfig.Field5" value="${siteconfig.field5!}" class="form-control"/></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">字段6: </td>
					<td><input name="siteconfig.Field6" value="${siteconfig.field6!}" class="form-control"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">字段7: </td>
					<td colspan="3"><input name="siteconfig.Field7" value="${siteconfig.field7!}" class="form-control"/></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">字段8: </td>
					<td colspan="3">
						<blade:kindeditor id="Field8" name="siteconfig.Field8" height="200px" width="80%" value="${siteconfig.field8}"/>
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"保存",btn_close:"关闭"}) {}
@}