@layout("/common/_container.html"){

<script type="text/javascript">
    var ctx = "${ctxPath}";
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    var _filter = '{}';

    $(function () {
        backDom('靓号设置', 'player_special_accounts');
        initGrid();
        initMenuBtn("btns", "${code}");
    });

    function initGrid() {
        var grid_url = ctx + "/${code}/list";//查询列表接口
        var _colnames = ["id","现用靓号", "昵称", "原用户ID", "修改时间"];
        /*		var _colmodel = [ { name : "id", sortable:false, hidden:true  },
                                  { name : "UserID", sortable:false, formatter: genLink },
                                  { name : "NickName", sortable:false, formatter: genLink },
                                  { name : "LastLoginTime", sortable:false},
                                  { name : "RegisterDate", sortable:false},
                                  { name : "Score", sortable:false, formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:",",decimalPlaces:0} },
                                  { name : "InsureScore", sortable:false, formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:",",decimalPlaces:0} },
                                  { name : "js_BussniessCount", sortable:false, formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:",",decimalPlaces:0} },
                                  { name : "out_BussniessCount", sortable:false, formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:",",decimalPlaces:0} },
                                  { name : "js_bankScoreCount", sortable:false, formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:",",decimalPlaces:0} },
                                  { name : "out_bankScoreCount", sortable:false, formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:",",decimalPlaces:0} }
                                 ];*/

        var  _colmodel = [   { name : "id", sortable:false, hidden:true  },
                            {name: "NowHasID", sortable: false, formatter: genLink},
                            {name: "NickName", sortable:false, formatter: genLink },
                            {name: "OnceID", sortable: false},
                            {name: "UpdateDate", sortable: true}
                        ];
        var totalcoin = 0;
        jQuery(grid_selector).jqGrid({
            url: grid_url,
            shrinkToFit: true,//适用于较少字段,响应式
            colNames: _colnames,
            colModel: _colmodel,
            pager: pager_selector,
            postData: {where: _filter},
            multiselect: false,
            rownumbers: false,
            rowNum: 100,
            jsonReader: {},
            afterInsertRow: function (rowid, rowdata, rowelem) {
            },
            gridComplete: function () {
            }
        });

        function genLink(cellvalue, options, rowObject) {
            var html = '';
            if (options.colModel.name == 'NowHasID' || options.colModel.name == 'NickName') {
                html = '<a name="' + ctx + '/player/detailinfo/' + rowObject.NowHasID + '" title="玩家详情" class="text-33C3F7 iframeurl" href="' + ctx + '/player/detailinfo/' + rowObject.OnceID + '"><strong>' + cellvalue + '</strong></a>';
            }
            return html;
        }
    }

    function goNewTab(id) {
        window.top.addTabs({
            id: 'player_showdetail_' + id,
            title: '用户详情',
            url: ctx + '/player/detailinfo/' + id,
            icon: '',
            close: true
        });
    }
</script>


<!-- 配置grid -->
<div class="row">
    <form data-url="" method="post" class="" role="form">
        <!-- 配置查询 -->
        <div class="">
            <!-- 简单查询第一组 -->
            <label class=""> 玩家ID： </label>
            <input type="text" id="UserID" value="" placeholder=""
                   class=""/>

            <!-- 简单查询按钮 -->
            <label class="">
                <button class="btn btn-sx btn-white btn-search" type="button" onclick="goSearch()" id="gotoSearch">查询</button>
               <!-- <button class="btn btn-sx btn-white" type="button" onclick="resetForm()">重置</button>-->
                <button class="btn btn-sx btn-white" type="button" onclick="goAdd()" id="addSpecial">新增</button>
            </label>
            &nbsp;<button class="btn btn-sm btn-yellow" type="button" id="findBeaut" ><a href="/specialAccounts/findBeaut" style="color:black">参考靓号</a></button>
        </div>
    </form>
    <!-- 按钮组 -->
   <!-- <div class="welljq well-sm" id="btns">-->
    </div>
    <!-- grid -->
    <table id="grid-table"></table>
    <!-- 分页 -->
    <div id="grid-pager"></div>
</div>
<script src="${ctxPath}/static/laydate/laydate.js"></script>
<script type="text/javascript">
    function goSearch() {
        var UserID = $("#UserID").val();
        if (BladeTool.isNotEmpty(UserID)) {
            var wheres  = UserID;
        }
       /* var filter = "";
        if (typeof (_filter) != "undefined") {
            filter = _filter;
        }
        var where = "";

        $.each(wheres, function (key, value) {
            if (BladeTool.isNotEmpty(key) && BladeTool.isNotEmpty(value)) {
                where += "\"" + key + "\":\"" + value + "\"" + ",";
            }
        });

        if (BladeTool.isNotEmpty(where)) {
            where = '{' + where;
            where = where.substring(0, where.length - 1);
            where += '}';
        }
        where = BladeTool.isEmpty(where) ? "" : encodeURI(where);*/
        $(grid_selector).jqGrid("setGridParam", {
            url:ctx + "/${code}/findUser",
            datatype: "json",
            postData: {
                'UserID':wheres
            },
            page: 1
        }).trigger("reloadGrid");
    }

    function resetForm() {
        reloadGrid();
    }

    function goAdd() {
        layer.open({
            type: 2,
            title: '靓号新增',
            area: ['800px', '520px'],
            fix: false, //不固定
            maxmin: true,
            content: ctx + '/${code}/add'
        });
    }
</script>

<!-- 引入列表页所需js -->
@include("/common/_listscript.html"){}
@}