@layout("/common/_container.html"){
<script type="text/javascript">
	var ctx = "${ctxPath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	var _filter = '';
	if(BladeTool.isNotEmpty('${where}')) {
		_filter = '${where}';
	}

	$(function() {
		initGrid();
	});

	function initGrid() {
		var grid_url = ctx + "/${code}/relationlist";//查询列表接口
		var _colnames = [ "ID","玩家ID", "昵称", "<span class=\"text-blue\">注册时间</span>", "<span class=\"text-blue\">登录时间</span>", "<span class=\"text-blue\">总输赢</span>", "<span class=\"text-blue\">当日输赢</span>", "<span class=\"text-blue\">金币</span>", "接收金币", "赠送金币", "奖券", "充值金额", "充值次数", "首选游戏", "游戏状态", "类型", "账号状态","作弊率"];
		var _colmodel = [ 
		                  {name : "UserID",hidden:true}, 
		                  {name : "UserID",sortable:false, formatter:genLink}, 
		                  {name : "NickName",sortable:false, formatter:genLink}, 
		                  {name : "RegisterDate",index : "RegisterDate"}, 
		                  {name : "LastLogonDate",index : "LastLogonDate"}, 
		                  {name : "TotalWaste",index : "TotalWaste", formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:",",decimalPlaces:0}}, 
		                  {name : "DayWaste",index : "DayWaste", formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:",",decimalPlaces:0}}, 
		                  {name : "Score",index : "Score", formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:",",decimalPlaces:0}}, 
		                  {name : "RcvScore",sortable:false, formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:",",decimalPlaces:0}}, 
		                  {name : "SendScore",sortable:false, formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:",",decimalPlaces:0}}, 
		                  {name : "UserMedal",sortable:false, formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:",",decimalPlaces:0}}, 
		                  {name : "RechargeNum",sortable:false, formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:",",decimalPlaces:0}}, 
		                  {name : "RechargeCountNum",sortable:false, formatter:"integer", formatoptions:{"defaulValue ":0,thousandsSeparator:",",decimalPlaces:0}}, 
		                  {name : "FirstEnterKindName",sortable:false}, 
						  {name : "OnlineServerName",sortable:false}, 
						  {name : "TypeName",sortable:false}, 
						  {name : "NullityName",sortable:false}, 
						  {name : "CheatRate",hidden:true} ];

		var totalJson = {
				Score:0,//总金币
				RechargeNum:0,//总充值
				UserMedal:0,//奖券总量
				TotalWaste:0,//总输赢
				RcvScore:0,//总接收金币
				SendScore:0,//总赠送金币
				DayWaste:0//当日总输赢
		};
		jQuery(grid_selector).jqGrid({
			url:grid_url,
			mtype:'post',
			//autowidth: false,
			shrinkToFit : true,//适用于较少字段,响应式
			colNames : _colnames,
			colModel : _colmodel,
			pager : pager_selector,
			postData : {where:_filter},
			multiselect : false,
			rownumbers : false,
			rowNum:100,
			height: 'auto',
			afterInsertRow: function(rowid, rowdata, rowelem) {
				if(BladeTool.isNotEmpty(rowdata['TotalWaste'])) {
					totalJson['TotalWaste'] += rowdata['TotalWaste'];//总输赢
				}
				if(BladeTool.isNotEmpty(rowdata['Score'])) {
					totalJson['Score'] += rowdata['Score'];//总金币
				}
				if(BladeTool.isNotEmpty(rowdata['RechargeNum'])) {
					totalJson['RechargeNum'] += rowdata['RechargeNum'];//当日总税收
				}
				if(BladeTool.isNotEmpty(rowdata['UserMedal'])) {
					totalJson['UserMedal'] += rowdata['UserMedal'];//当前血池
				}
				if(BladeTool.isNotEmpty(rowdata['RcvScore'])) {
					totalJson['RcvScore'] += rowdata['RcvScore'];//当日总控制血池
				}
				if(BladeTool.isNotEmpty(rowdata['SendScore'])) {
					totalJson['SendScore'] += rowdata['SendScore'];//总赠送金币
				}
				if(BladeTool.isNotEmpty(rowdata['DayWaste'])) {
					totalJson['DayWaste'] += rowdata['DayWaste'];//血池银行
				}
				if(BladeTool.isNotEmpty(rowdata['CheatRate'])) {
					if(rowdata['CheatRate']>0) {
						$('#'+rowid).addClass('bg-d3d4d1');
					} else if(rowdata['CheatRate']<0) {
						$('#'+rowid).addClass('bg-b0f30b');
					}
				}
			},
			gridComplete:function() {
				$("#TotalWaste").html(fmoney(totalJson['TotalWaste'],0));
				$("#Score").html(fmoney(totalJson['Score'],0));
				$("#RechargeNum").html(fmoney(totalJson['RechargeNum'],0));
				$("#UserMedal").html(fmoney(totalJson['UserMedal'],0));
				$("#RcvScore").html(fmoney(totalJson['RcvScore'],0));
				$("#SendScore").html(fmoney(totalJson['SendScore'],0));
				$("#RS").html(fmoney((totalJson['SendScore']-totalJson['RcvScore']),0));
				$("#DayWaste").html(fmoney(totalJson['DayWaste'],0));
				totalJson = {
						Score:0,//总金币
						RechargeNum:0,//总充值
						UserMedal:0,//奖券总量
						TotalWaste:0,//总输赢
						RcvScore:0,//总接收金币
						SendScore:0,//总赠送金币
						DayWaste:0//当日总输赢
				};
			}
		});
		
		function rowShow(cellvalue, options, rowObject) {
			var html = '';
			if(options.colModel.name=='Nullity') {
				if(cellvalue == '0') {
					html = '正常(允许交易)';
				} else if(cellvalue == '1') {
					html = '锁定(禁止交易)';
				}
			} else {
				html = '<span class="text-red">--</span>';
			}
			return html;
		}
		function genLink(cellvalue, options, rowObject) {
			var html = '<a name="'+ctx + '/player/detailinfo/' + rowObject.UserID+'" title="玩家详情" class="text-33C3F7 iframeurl" href="'+ctx + '/player/detailinfo/' + rowObject.UserID+'"><strong>' + cellvalue + '</strong></a>';
			return html;
		}
	}
	
	function goNewTab(id) {
		window.top.addTabs({
	        id: 'player_search_' + id,
	        title: '玩家搜索->用户详情',
	        url: ctx + '/player/detailinfo/' + id,
	        icon: 'fa',
	        close: true
	    });
	}
</script>

<div class="row">
	<div class="total-block">
		总金币：<span class="text-red" id="Score">0</span>
		总充值：<span class="text-red" id="RechargeNum">0</span>
		奖券总量：<span class="text-red" id="UserMedal">0</span>
		总输赢：<span class="text-red" id="TotalWaste">0</span>
		总接收金币：<span class="text-red" id="RcvScore">0</span>
		总赠送金币：<span class="text-red" id="SendScore">0</span>
		总顺差金币：<span class="text-red" id="RS">0</span>
		当日总输赢：<span class="text-red" id="DayWaste">0</span>
	</div>
	<!-- grid -->
	<table id="grid-table"></table>
	<!-- 分页 -->
	<div id="grid-pager"></div>
</div>
<!-- 引入列表页所需js -->
	@include("/common/_listscript.html"){}
@}