@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<div class="row">
	<div class="col-xs-12 tb-grid">
	<form data-url="${ctxPath}/${code}/updateWin2" method="post" class="form-horizontal" role="form">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">玩家ID: </td>
					<td>${player.UserID}
						<input name="player.UserID" value="${player.UserID}" type="hidden"/>
						<input name="player.GameID" value="${player.GameID}" type="hidden"/>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">当前作弊率: </td>
					<td>
						<input type="text" value="${player.CheatRate!0}" disabled="disabled"/>
						<input type="hidden" name="player.CheatingRateNow" value="${player.CheatRate!0}"/>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">当前作弊金币: </td>
					<td>
						<input type="text" value="${player.LimitScore!0}" disabled="disabled"/>
						<input type="hidden" name="player.CheatingScoreNow" value="${player.LimitScore!0}"/>
					</td>
				</tr>
<!--				<tr>-->
<!--					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">作弊状态: </td>-->
<!--					<td>-->
<!--						<input type="radio" name="status" onchange="changeStatus(this)" value="" checked="checked"/>输-->
<!--						<input type="radio" name="status" onchange="changeStatus(this)" value="-" />赢-->
<!--					</td>-->
<!--				</tr>-->
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">设置作弊率: </td>
					<td>
<!--						<input value="0" id="CheatingRateSet"/>-->
<!--						<input name="player.CheatingRateSet" value="0" id="CheatingRateValue" type="hidden"/>-->
						<select name="player.CheatingRateSet">
							<option value="1000">小输1000</option>
							<option value="2000">中输2000</option>
							<option value="3000">大输3000</option>
							<option value="-1000">小赢-1000</option>
							<option value="-2000">中赢-2000</option>
							<option value="-3000">大赢-3000</option>
							<option value="0">清空作弊率</option>
						</select>
						<span class="text-red">*该值为万分比且>0，最大值为30000</span>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">作弊分数: </td>
					<td>
						<input name="player.CheatingScoreSet" value="0" id="score" autoComplete='off'/>
						<span class="text-red">*该值>0，表示调控玩家的目标分数，例：让玩家输或者赢1000，该值就设置为1000</span>
					</td>
				</tr>
				<tr>
					<td></td>
					<td id="showC"></td>
				</tr>
				<!-- 
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否激活: </td>
					<td>
						@if(player.Nullity == 0){
						<input type="radio" name="player.Nullity" value="0" checked="checked"/>未激活
						<input type="radio" name="player.Nullity" value="1"/>激活
						@} else {
						<input type="radio" name="player.Nullity" value="0"/>未激活
						<input type="radio" name="player.Nullity" value="1" checked="checked"/>激活
						@}
					</td>
				</tr> -->
			</tbody>
		</table>
		</form>
	</div>
</div>
<script>
	var isAutoFlushTab = true;
	function changeStatus(obj) {
		var setVal = $(obj).val();
		$('#CheatingRateValue').val(setVal+$('#CheatingRateSet').val());
	}
</script>
<script src="${ctxPath}/static/search/numhandler.js?version=1522834727292" type="text/javascript" ></script>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"确认修改",btn_close:"关闭"}) {}
@}