@layout("/common/_container.html"){


<script type="text/javascript">
	var ctx = "${ctxPath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	var _filter = '{"StartTime":"' +getBeforeDate(0) +'","EndTime":"' +getBeforeDate(0)+'"}';

	$(function() {
		backDom('未统计充值记录','recharge_unstatistics');
		initGrid();
	});

	function initGrid() {
		var grid_url = ctx + "/${code}/unstatisticsList";//查询列表接口
		var _colnames = [ "发起时间", "订单号","用户ID","昵称","充值金额(PHP)", "获得金币", "订单状态", "包名称", "充值渠道", "充值类型","商户反馈", "订单关闭时间"];
		var _colmodel = [
			{ name : "createTime", sortable:false,width:200 },
			{ name : "orderNumber", sortable:false},
			{ name : "userId", sortable:false,formatter:genLink},
			{ name : "nickname", sortable:false,formatter:genLink},
			{ name : "topUpAmount",sortable:false},
			{ name : "gold", sortable:false },
			{ name : "orderStatus", sortable:false, formatter: rowShow},
			{ name : "packageName", sortable:false},
			{ name : "channel", sortable:false},
			{ name : "channel_type", sortable:false},
			{ name : "msg", sortable:false},
			{ name : "endTime", sortable:false }]

		var totalcoin = 0;
		jQuery(grid_selector).jqGrid({
			url:grid_url,
			shrinkToFit : true,//适用于较少字段,响应式
			colNames : _colnames,
			colModel : _colmodel,
			pager : pager_selector,
			postData : {where: _filter, sort: "createTime", order: "desc"},
			multiselect : false,
			rownumbers : true,
			rowNum: 100,
			jsonReader : {
				userData : "userdata"
			},
			// afterInsertRow: function(rowid, rowdata, rowelem) {
			// 	totalcoin += rowdata['UnitRMB'];
			// 	if(BladeTool.isNotEmpty(rowdata['CheatRate'])) {
			// 		if(rowdata['CheatRate']>0) {
			// 			$('#'+rowid).addClass('bg-d3d4d1');
			// 		} else if(rowdata['CheatRate']<0) {
			// 			$('#'+rowid).addClass('bg-b0f30b');
			// 		}
			// 	}
			// },
			// gridComplete:function() {
			// 	getTotalRecharge(encodeURI(_filter));
			// }
		});
		function rowShow(cellvalue, options, rowObject) {
			var dict_status = {
				1:"待支付",
				2:"已完成",
				3:"已关闭"
			}
			var html = '<span class="text-red">' + cellvalue + '</span>';
			if(options.colModel.name=='orderStatus') {
				if(cellvalue === 1){
					html = '<span class="label label-info">' + dict_status[cellvalue] + '</span>';
				}else if(cellvalue === 2){
					html = '<span class="label label-success">' + dict_status[cellvalue] + '</span>';
				}else if (cellvalue === 3) {
					html = '<span class="label label-default">' + dict_status[cellvalue] + '</span>';
				}
			}
			return html;
		}
		function genLink(cellvalue, options, rowObject) {
			var html = '<a name="'+ctx + '/player/detailinfo/' + rowObject.userId+'" title="玩家详情" class="text-33C3F7 iframeurl" href="'+ctx + '/player/detailinfo/' + rowObject.userId+'"><strong>' + cellvalue + '</strong></a>';
			return html;
		}
	}

	function goNewTab(id) {
		window.top.addTabs({
	        id: 'player_showdetail_' + id,
	        title: '用户详情',
	        url: ctx + '/player/detailinfo/' + id,
	        icon: '',
	        close: true
	    });
	}
</script>


<!-- 配置grid -->
<div class="row">
	<form data-url="" method="post" class="" role="form">
		<!-- 配置查询 -->
		<div class="">
			<!-- 简单查询第一组 -->
			<label class=""> 玩家ID： </label>
			<input type="text" id="UserID" placeholder=""
				   class="" />


			<!-- 简单查询第五组 -->
			<label class=""> 充值时间： </label>
			<input type="text" id="start_time" value="" class=""/>-
			<input type="text" id="end_time" value="" class=""/>
			<label class=""> 订单状态： </label>
			<select id="OrderState">
				<option value="">请选择</option>
				<option value="1">待支付</option>
				<option value="3">已关闭</option>
			</select>

			<label class=""> 包来源： </label>
			<select id="clientType"></select>

			<!-- 简单查询按钮 -->
			<label class="">
				<button class="btn btn-sx btn-white btn-search" type="button" onclick="goSearch()">查询</button>
				<button class="btn btn-sx glyphicon glyphicon-refresh" type="button" onclick="resetForm()">重置</button>
			</label>
		</div>
	</form>
	<!-- grid -->
	<table id="grid-table"></table>
	<!-- 分页 -->
	<div id="grid-pager"></div>
</div>
<script src="${ctxPath}/static/laydate/laydate.js"></script>
<script>
	// 获取平台列表
	new Ajax("${ctxPath}/newsplatform/getPlatformInfo", function (data) {
		console.log(data);
		if(data.code === 0 && BladeTool.isNotEmpty(data.data)) {
			var type = data.data;
			var html = '<option value="">请选择</option>';
			for (var i = 0; i < type.length; i++) {
				html += '<option value="' + type[i]['clientType'] + '">' + type[i]['name'] + '</option>';
			}
			$("#clientType").html(html);
		}
	}).start();
    laydate({
        elem : '#start_time',
        format : 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月日
        choose : function(datas) { //选择日期完毕的回调
            /*   alert('得到：'+datas); */
        }
    });
    laydate({
        elem : '#end_time',
        format : 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月日
        //festival: true, //显示节日
        choose : function(datas) { //选择日期完毕的回调
            /*   alert('得到：'+datas); */
        }
    });
    function goSearch() {
        var UserID = $("#UserID").val();
		var clientType = $("#clientType").val();
		var start_time = $("#start_time").val();
		var end_time = $("#end_time").val();
        var wheres = {};

        if(BladeTool.isNotEmpty(UserID)) {
            wheres['UserID'] = UserID;
        }
		var orderStatus = $("#OrderState").val();
		if (BladeTool.isNotEmpty(orderStatus)){
			wheres['orderStatus'] = orderStatus;
		}
		if(BladeTool.isNotEmpty(clientType)) {
			wheres['clientType'] = clientType;
		}


		if(BladeTool.isNotEmpty(end_time)) {
			wheres['EndTime'] = end_time;
		}
        if (BladeTool.isNotEmpty(start_time)){
			wheres['StartTime'] = start_time;
		}

        var filter = "";
        if (typeof (_filter) != "undefined") {
            filter = _filter;
        }
        var where = "";

        $.each(wheres, function(key, value) {
            if (BladeTool.isNotEmpty(key) && BladeTool.isNotEmpty(value)) {
                where += "\"" + key + "\":\"" + value + "\"" + ",";
            }
        });

        if (BladeTool.isNotEmpty(where)) {
            where = '{' + where;
            where = where.substring(0, where.length - 1);
            where += '}';
        }
        where = BladeTool.isEmpty(where) ? "" : encodeURI(where);
        isAutoPage = (BladeTool.isEmpty(where) ? true : false);
        var pageNum = $jqGrid.getGridParam('page');
        $jqGrid.jqGrid("setGridParam", {
            datatype : "json",
            postData : {
                where : where
            },
            page: (isAutoPage) ? pageNum : 1,
        }).trigger("reloadGrid");
    }
	function resetForm() {
		$("input").val("");
		$('#start_time').val(getBeforeDate(0));
		$('#end_time').val(getBeforeDate(0));
		// reloadGrid();
	}
	$(function(){
		$('#start_time').val(getBeforeDate(0));
		$('#end_time').val(getBeforeDate(0));
	});
</script>
<!-- 引入列表页所需js -->
@include("/common/_listscript.html"){}
@}