@layout("/common/_container.html"){
<!-- PAGE CONTENT BEGINS -->
<div class="row">
    <div class="col-xs-12 tb-grid">
        <form data-url="${ctxPath}/${code}/updateAgent" method="post" class="form-horizontal" role="form">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">玩家ID: </td>
                    <td>${player.UserID}
                        <input name="player.UserID" value="${player.UserID}" type="hidden"/>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">代理身份: </td>
                    <td>
                        <input type="radio" name="player.AgentLevel" value="0" ${player.AgentLevel==0?"checked":""}>普通代理</input>&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="player.AgentLevel" value="1" ${player.AgentLevel==1?"checked":""}>vip代理</input>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<!-- 按钮 -->
@ include("/common/_curd/_btn.html",{btn_save:"确认修改",btn_close:"关闭"}) {}
@}