@layout("/common/_container.html"){
<style>
    #gview_grid-table {
        margin-bottom: 38px;
    }
</style>

<script type="text/javascript">
    var ctx = "${ctxPath}";
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    var _filter = '{ExchangeBatch:${ExchangeBatch}}';

    $(function () {
        backDom('兑换码兑换记录', 'player_exchange');
        initGrid();
    });

    function initGrid() {
        var grid_url = ctx + "/${code}/exlist";//查询列表接口
        var _colnames = ["序号", "玩家ID", "兑换码", "使用状态", "兑换时间", "生成时间", "上分数额", "下分数额"];
        var _colmodel = [
            {name: "Exchange_Id", hidden: true},
            {name: "User_Id", sortable: false, formatter: genLink},
            {name: "ExchangeCode", sortable: false},
            {name: "ExchangeState", sortable: true, formatter: genLink},
            {name: "ExchangeTime", sortable: false},
            {name: "MakeTime", sortable: false},
            {
                name: "UpScore",
                sortable: true,
                formatter: "integer",
                formatoptions: {"defaulValue ": 0, thousandsSeparator: ",", decimalPlaces: 0}
            },
            {
                name: "DownScore",
                sortable: true,
                formatter: "integer",
                formatoptions: {"defaulValue ": 0, thousandsSeparator: ",", decimalPlaces: 0}
            }
        ];
        var totalcoin = 0;
        jQuery(grid_selector).jqGrid({
            url: grid_url,
            autowidth: true,
            shrinkToFit: false,//适用于较少字段,响应式
            colNames: _colnames,
            colModel: _colmodel,
            pager: pager_selector,
            postData: {where: _filter},
            rownumbers: false,
            rowNum: 100,
            height: 'auto'
        });

        function genLink(cellvalue, options, rowObject) {
            var html = '';
            if (options.colModel.name == 'User_Id' && rowObject.User_Id != null) {
                html = '<a name="' + ctx + '/player/detailinfo/' + rowObject.User_Id + '" title="玩家详情" class="text-33C3F7 iframeurl" href="' + ctx + '/player/detailinfo/' + rowObject.User_Id + '"><strong>' + cellvalue + '</strong></a>';
            } else {
                html = '<span class="bg-ED8377 text-white text-padding">未分配玩家</span>';
            }
            if (options.colModel.name == 'ExchangeState' && rowObject.ExchangeState == 0) {
                html = '<span class="bg-FFAA00 text-white text-padding">未使用</span>';
            }
            if (options.colModel.name == 'ExchangeState' && rowObject.ExchangeState == 1) {
                html = '<span class="bg-076100 text-white text-padding">已使用</span>';
            }
            return html;
        }
    }

    function goNewTab(id) {
        window.top.addTabs({
            id: 'player_showdetail_' + id,
            title: '用户详情',
            url: ctx + '/player/detailinfo/' + id,
            icon: '',
            close: true
        });
    }
</script>


<!-- 配置grid -->
<div class="row">
    <form data-url="" method="post" class="" role="form">
        <!-- 配置查询 -->
        <div class="">
            <!-- 简单查询第一组 -->
            <label class=""> 玩家ID： </label>
            <input type="text" id="UserID" value="" placeholder="请输入用户ID查询数据"
                   class=""/>
            <!-- 简单查询第一组 -->
            <label class=""> 兑换码： </label>
            <input type="text" id="ExchangeCode" value="" placeholder="请输入兑换码"
                   class=""/>

            <!-- 简单查询按钮 -->
            <label class="">
                <button class="btn btn-sx btn-white btn-search" type="button" onclick="goSearch()" id="gotoSearch">查询
                </button>
                <button class="btn btn-sx btn-white" type="button" onclick="goDown()">导出</button>
            </label>
        </div>
    </form>
    <!-- grid -->
    <table id="grid-table"></table>
    <!-- 分页 -->
    <div id="grid-pager"></div>
</div>
<script src="${ctxPath}/static/search/js/excel.js"></script>
<script type="text/javascript">

    function goSearch() {
        var UserID = $("#UserID").val();
        var ExchangeCode = $("#ExchangeCode").val();
        var wheres = {};

        wheres['UserID'] = UserID;
        wheres['ExchangeCode'] = ExchangeCode;
        wheres['ExchangeBatch'] = '${ExchangeBatch}';

        var where = "";

        $.each(wheres, function (key, value) {
            if (BladeTool.isNotEmpty(key) && BladeTool.isNotEmpty(value)) {
                where += "\"" + key + "\":\"" + value + "\"" + ",";
            }
        });

        if (BladeTool.isNotEmpty(where)) {
            where = '{' + where;
            where = where.substring(0, where.length - 1);
            where += '}';
        }

        where = BladeTool.isEmpty(where) ? "" : encodeURI(where);
        isAutoPage = (BladeTool.isEmpty(where) ? true : false);
        var pageNum = $jqGrid.getGridParam('page');
        $jqGrid.jqGrid("setGridParam", {
            datatype: "json",
            postData: {
                where: where
            },
            page: (isAutoPage) ? pageNum : 1
        }).trigger("reloadGrid");
    }

    function resetForm() {
        $("input").val("");
        $("select").val("");
        btn_stage.bind(toolbar);
        reloadGrid();
    }

    /* $(function(){
        $('#start_time').val(getBeforeDate(0));
        $('#end_time').val(getBeforeDate(0));
    }); */
    function goDown() {
        var _colnames = ["序号", "兑换码", "使用状态", "生成时间"];
        var _colmodel = [
            {name: "Exchange_Id", width:40},
            {name: "ExchangeCode", width:40},
            {name: "ExchangeState", width:40},
            {name: "MakeTime", width:40}
        ];

        var postdata = {where:'{"ExchangeBatch":"${ExchangeBatch}"}'};
        alert("批次"+"${ExchangeBatch}");
        var code = 'NoviceCard';
        var source = 'player_exchange.Exdetails_list';
        downExcel(_colnames, _colmodel, source, postdata, code);
    }
</script>

<!-- 引入列表页所需js -->
@include("/common/_listscript.html"){}
@}