@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
	<form data-url="${ctxPath}/${code}/peupdate" method="post" class="form-horizontal" role="form">
		<!-- 表单 -->
			<div class="space-4"></div>
			<input type="hidden" id="form_token" value="1"/>
			<input type="hidden" id="_id" name="award_order.Order_No" value="${award_order.OrderID}"/>
			<table class="table table-bordered">
						<tr>
							<td style="vertical-align: middle !important;width:15%;text-align:right;">兑换信息: </td>
							<td colspan="3" style="width:85%;padding:0;"><span class="text-red">${award_order.AwardName!}</span></td>
						</tr>
						<tr>
							<td style="vertical-align: middle !important;width:15%;text-align:right;">玩家信息: </td>
							<td colspan="3" style="width:85%;padding:0;">${award_order.NickName!}</td>
						</tr>
						<tr>
							<td style="vertical-align: middle !important;width:15%;text-align:right;">联系电话: </td>
							<td colspan="3" style="width:85%;padding:0;">
								<input name="award_order.phonenumber" value="${award_order.MobilePhone!}"/><span class="text-red">*</span>
							</td>
						</tr>
			</table>
	<div class="space-4"></div>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"确定修改",btn_close:"关闭"}) {}
	</form>
@}