@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<div class="row">
	<div class="col-xs-12 tb-grid">
	<form data-url="${ctxPath}/onlinegold/update" method="post" class="form-horizontal" role="form">
		<input type="hidden" name="onlinegold.id" value="${onlinegold.id!}"/>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否需要充值可领取: </td>
					<td>
						<input type="radio" name="onlinegold.param2" value="1" ${onlinegold.param2==1?"checked":""} >是</input>&nbsp;&nbsp;
						<input type="radio" name="onlinegold.param2" value="0" ${onlinegold.param2==0?"checked":""} >否</input>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">领取间隔时间（秒）: </td>
					<td><input type="text" name="onlinegold.param1" value="${onlinegold.Param1!0}" />秒</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">领取类型: </td>
					<td>
						<input type="radio" name="onlinegold.rewardType" value="2" ${onlinegold.RewardType==2?"checked":""}>转盘次数</input>&nbsp;&nbsp;
						<input type="radio" name="onlinegold.rewardType" value="1" ${onlinegold.RewardType==1?"checked":""}>金币</input>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">领取数量: </td>
					<td><input type="text" name="onlinegold.reward" value="${onlinegold.Reward}" /></td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"确认修改",btn_close:"关闭"}) {}
@}