@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<div class="row">
	<div class="col-xs-12 tb-grid">
	<form data-url="${ctxPath}/onlinegold/save" method="post" class="form-horizontal" role="form">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">领取金币数量: </td>
					<td><input type="text" name="onlinegold.amount" value="0" /></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">领取间隔时间: </td>
					<td><input type="text" name="onlinegold.Time_Id" value="0" />秒</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">允许领取次数: </td>
					<td><input type="text" name="onlinegold.Prop_Id" value="1" /></td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"确认新增",btn_close:"关闭"}) {}
@}