@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<div class="row">
	<div class="col-xs-12 tb-grid">
	<form data-url="${ctxPath}/${code}/update" method="post" class="form-horizontal" role="form">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">商品ID: </td>
					<td>${awardinfo.AwardID!}
						<input name="awardinfo.AwardID" value="${awardinfo.AwardID!}" type="hidden" />
					</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">商品名称: </td>
					<td><input name="awardinfo.AwardName" value="${awardinfo.AwardName!}" /></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">商品类型: </td>
					<td>
						<select name="awardinfo.TypeID" id="TypeID"></select>
					</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">商品价格: </td>
					<td><input name="awardinfo.Price" value="${awardinfo.Price!}" /></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">商品库存: </td>
					<td><input name="awardinfo.Inventory" value="${awardinfo.Inventory!}" /></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">已售数量: </td>
					<td><input name="awardinfo.BuyCount" value="${awardinfo.BuyCount!}" /></td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">排序: </td>
					<td><input name="awardinfo.SortID" value="${awardinfo.SortID!}" /></td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">商品状态: </td>
					<td>
						@if(awardinfo.Nullity == 0){
						<input type="radio" name="awardinfo.Nullity" value="0" checked="checked"/>启用
						<input type="radio" name="awardinfo.Nullity" value="1"/>禁用
						@} else if(awardinfo.Nullity == 1){
						<input type="radio" name="awardinfo.Nullity" value="0"/>启用
						<input type="radio" name="awardinfo.Nullity" value="1" checked="checked"/>禁用
						@}
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">允许退货: </td>
					<td>
						@if(awardinfo.IsReturn == false){
						<input type="radio" name="awardinfo.IsReturn" value="0" checked="checked"/>不允许
						<input type="radio" name="awardinfo.IsReturn" value="1"/>允许
						@} else if(awardinfo.IsReturn == true){
						<input type="radio" name="awardinfo.IsReturn" value="0"/>不允许
						<input type="radio" name="awardinfo.IsReturn" value="1" checked="checked"/>允许
						@}
					</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">创建时间: </td>
					<td>${awardinfo.CollectDate!}</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">展示小图: </td>
					<td><!-- <input name="awardinfo.SmallImage" type="file" /> -->
						<blade:imgupload id="SmallImage" name="awardinfo.SmallImage" value="${awardinfo.SmallImage!}" auto="" returnType="url"/>
					</td>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">展示大图: </td>
					<td><!-- <input name="awardinfo.BigImage" type="file" /> -->
						<blade:imgupload id="BigImage" name="awardinfo.BigImage" value="${awardinfo.BigImage!}" auto="" returnType="url"/>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">下单信息: </td>
					<td>
						@if(awardinfo.isNeedRealName == 1){
							<input type="checkbox" name="awardinfo.needinfo" checked="checked" value="1"/>真实姓名
						@} else {
							<input type="checkbox" name="awardinfo.needinfo" value="1" />真实姓名
						@}
						@if(awardinfo.isNeedMobile == 1){
							<input type="checkbox" name="awardinfo.needinfo" value="2" checked="checked"/>手机号码
						@} else {
							<input type="checkbox" name="awardinfo.needinfo" value="1"/>手机号码
						@}
						@if(awardinfo.isNeedQQ == 1){
							<input type="checkbox" name="awardinfo.needinfo" value="4" checked="checked"/>QQ|微信
						@} else {
							<input type="checkbox" name="awardinfo.needinfo" value="4"/>QQ|微信
						@}
						@if(awardinfo.isNeedAddr == 1){
							<input type="checkbox" name="awardinfo.needinfo" value="8" checked="checked"/>收货地址及邮编
						@} else {
							<input type="checkbox" name="awardinfo.needinfo" value="8"/>收货地址及邮编
						@}
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">描述: </td>
					<td colspan="3">
						<blade:kindeditor id="formattedBody" name="awardinfo.Description" height="200px" value="${awardinfo.Description!}"/>
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
<script>
$(function() {
	var typeid = '${awardinfo.TypeID!}';
	new Ajax("${ctxPath}/awardtype/getAwardType", function (data) {
        console.log(data);
        if(data.code == 0 && BladeTool.isNotEmpty(data.data)) {
        	var type = data.data;
        	var html = '<option value="1">请选择</option>';
        	for (var i = 0; i < type.length; i++) {
				html += '<option value="' + type[i]['TypeID'] + '"';
				if(typeid == type[i]['TypeID']) {
					html += ' selected="selected"';
				}
				html += '>' + type[i]['TypeName'] + '</option>';
        	}
        	$("#TypeID").html(html);
        }
 	}).start();
});
</script>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"确认修改",btn_close:"关闭"}) {}
@}