@layout("/common/_container.html"){
<script src="${ctxPath}/static/laydate/laydate.js"></script>
<script type="text/javascript">
    var ctx="${ctxPath}";
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    var isAutoFlushTab=true;
    var _filter = '{"start_time":"' +((new Date(laydate.now(0, 'YYYY-MM-DD hh:mm:ss')).getTime())-4*60*60*1000)/1000 +
        '","end_time":"' +((new Date(laydate.now(0, 'YYYY-MM-DD hh:mm:ss')).getTime()))/1000+'"}';
    $(function(){
        backDom('短信验证码记录列表页面','smscoderecords');
        initGrid();
    });
    function initGrid(){
        var grid_url = ctx+"/smscoderecords/list";//查询列表接口
        var _colnames=["id","玩家ID","手机号","验证码","发送时间"];
        var _colmodel=[
            {name:"id",sortable: false,hidden:true},
            {name:"UserID",sortable: false,formatter:genLink},
            {name:"Phone", sortable:false},
            {name:"code", sortable:false},
            {name:"SendTime", sortable:false},
        ];

        jQuery(grid_selector).jqGrid({
            url:grid_url,
            shrinkToFit : true,//适用于较少字段,响应式
            colNames:_colnames,
            colModel:_colmodel,
            pager : pager_selector,
            postData: {where:_filter,sort: "SendTime", order: "desc"},
            multiselect : false,
            rownumbers : true,
            rowNum:100,
            height: 'auto'
        });
    }
    function genLink(cellvalue, options, rowObject) {
        var html = '<a name="'+ctx + '/player/detailinfo/' + rowObject.UserID+'" title="玩家详情" class="text-33C3F7 iframeurl" href="'+ctx + '/player/detailinfo/' + rowObject.UserID+'"><strong>' + cellvalue + '</strong></a>';
        return html;
    }
</script>
<!-- 配置grid -->
<div class="row">
    <div class="col-xs-12 tb-grid">
        <label class=""> 手机号： </label>
        <input type="text" id="phone" placeholder="请输入电话">
        <label class=""> 用户id： </label>
        <input type="text" id="userId" placeholder="请输入用户id">

        <!-- 简单查询第五组 -->
        <label class=""> 发送时间： </label>
        <input type="text" id="start_time" value="" class="" readonly="readonly"/>-
        <input type="text" id="end_time" value="" class="" readonly="readonly"/>
        <label class="">
            <button class="btn btn-sx btn-white btn-search" type="button" onclick="search()">查询</button>
            <button class="btn btn-sx btn-white" type="button" onclick="resetForm()">重置</button>
        </label>
        <table id="grid-table"></table>
        <!-- 分页 -->
        <div id="grid-pager"></div>
    </div>
</div>
<script src="${ctxPath}/static/laydate/laydate.js"></script>
<script>
    laydate({
        elem : '#start_time',
        format : 'YYYY-MM-DD hh:mm:ss', // 分隔符可以任意定义，该例子表示只显示年月日
        istime: true,
        choose : function(datas) { //选择日期完毕的回调
            /*   alert('得到：'+datas); */
        }
    });
    laydate({
        elem : '#end_time',
        format : 'YYYY-MM-DD hh:mm:ss', // 分隔符可以任意定义，该例子表示只显示年月日
        istime: true,
        //festival: true, //显示节日
        choose : function(datas) { //选择日期完毕的回调
            /*   alert('得到：'+datas); */
        }
    });
    function transformTime(timestamp) {
        if (timestamp) {
            var time = new Date(timestamp);
            var y = time.getFullYear(); //getFullYear方法以四位数字返回年份
            var M = time.getMonth() + 1; // getMonth方法从 Date 对象返回月份 (0 ~ 11)，返回结果需要手动加一
            var d = time.getDate(); // getDate方法从 Date 对象返回一个月中的某一天 (1 ~ 31)
            var h = time.getHours(); // getHours方法返回 Date 对象的小时 (0 ~ 23)
            var m = time.getMinutes(); // getMinutes方法返回 Date 对象的分钟 (0 ~ 59)
            var s = time.getSeconds(); // getSeconds方法返回 Date 对象的秒数 (0 ~ 59)
            return y + '-' + M + '-' + d + ' ' + h + ':' + m + ':' + s;
        } else {
            return '';
        }
    }
    $("#start_time").val(transformTime((new Date(laydate.now(0, 'YYYY-MM-DD hh:mm:ss')).getTime())-4*60*60*1000));
    $("#end_time").val(laydate.now(0, 'YYYY-MM-DD hh:mm:ss'));
    // 根据电话号或者玩家id查询
    function search() {
        var phone = $("#phone").val();
        var userId = $("#userId").val();
        var wheres = {};
        if (BladeTool.isNotEmpty(phone)){
            wheres["phone"]=phone
        }
        if (BladeTool.isNotEmpty(userId)){
            wheres["userId"]=userId
        }

        var start_time = $("#start_time").val();
        var end_time = $("#end_time").val();
        if(BladeTool.isNotEmpty(start_time)) {
            wheres['start_time'] = (new Date(start_time).getTime())/1000;
        }
        if(BladeTool.isNotEmpty(end_time)) {
            wheres['end_time'] = (new Date(end_time).getTime())/1000;
        }

        var filter = "";
        if (typeof (_filter) != "undefined") {
            filter = _filter;
        }
        var where = "";

        $.each(wheres, function(key, value) {
            if (BladeTool.isNotEmpty(key) && BladeTool.isNotEmpty(value)) {
                where += "\"" + key + "\":\"" + value + "\"" + ",";
            }
        });

        if (BladeTool.isNotEmpty(where)) {
            where = '{' + where;
            where = where.substring(0, where.length - 1);
            where += '}';
        }
        where = BladeTool.isEmpty(where) ? "" : encodeURI(where);
        isAutoPage = (BladeTool.isEmpty(where) ? true : false);
        var pageNum = $jqGrid.getGridParam('page');
        $jqGrid.jqGrid("setGridParam", {
            datatype : "json",
            postData : {
                where : where
            },
            page: (isAutoPage) ? pageNum : 1
        }).trigger("reloadGrid");
    }
    // 重置
    function resetForm() {
        $("input").val("");
        $("#start_time").val(transformTime((new Date(laydate.now(0, 'YYYY-MM-DD hh:mm:ss')).getTime())-4*60*60*1000));
        $("#end_time").val(laydate.now(0, 'YYYY-MM-DD hh:mm:ss'));
        // reloadGrid();
    }
</script>
@include("/common/_listscript.html"){}
@}