@layout("/common/_container.html"){
<!-- PAGE CONTENT BEGINS -->
<div class="row">
    <div class="col-xs-12 tb-grid">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">公告id: </td>
                    <td ><input type="text" value="${announcement.id}" readonly/></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">公告侧边栏显示: </td>
                    <td >
                        @if(announcement.isOpen==1){
                            开启
                        @}else{
                            关闭
                        @}
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">公告侧边栏显示: </td>
                    <td ><input type="text" value="${announcement.title}" readonly/></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">公告内容: </td>
                    <td>
                        <textarea cols="80" readonly>${announcement.content}</textarea>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
</div>
<!-- 按钮 -->
@ include("/common/_curd/_btn.html",{btn_close:"关闭"}) {}
@}
