@layout("/common/_container.html"){
<script type="text/javascript">
    var ctx="${ctxPath}";
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    var isAutoFlushTab=true;
    $(function(){
        backDom('转盘配置','turntable');
        initGrid();
        initMenuBtn("btns","turntable");
    });

    // ：1在线奖励2每日登录3打码返利



    function initGrid(){
        var grid_url = ctx+"/${code}/list";//查询列表接口
        var _colnames=["id","转盘索引","奖励数额","中奖权重","转盘类型"];
        var _colmodel=[
            {name:"id",sortable: false},
            {name:"turntable_index",sortable: false},
            {name:"award", sortable:false},
            {name:"pro", sortable:false},
            {name:"type", sortable:false,formatter:rowShow}
        ];

        jQuery(grid_selector).jqGrid({
            url:grid_url,
            shrinkToFit : true,//适用于较少字段,响应式
            colNames:_colnames,
            colModel:_colmodel,
            jsonReader:{id:"Id"},
            pager : pager_selector,
            postData: {},
            rowNum:100,
            height: 'auto'
        });
    }
    function rowShow(cellvalue, options, rowObject) {
        var html = '';
        if(options.colModel.name ==='type') {
            if(cellvalue === 0) {
                html += '<span>白银</span>';
            } else if (cellvalue === 1) {
                html += '<span>黄金</span>';
            }else if (cellvalue === 2){
                html += '<span>钻石</span>';
            }
        }
        return html;
    }
</script>
<!-- 配置grid -->
<div class="row">
    <div class="col-xs-12 tb-grid">
        <button class="btn btn-sx btn-white btn-search hide" id="gotoSearch">查询</button>
        <!-- 按钮组 -->
        <div class="welljq well-sm" id="btns"></div>
        <!-- grid -->
        <table id="grid-table"></table>
        <!-- 分页 -->
        <div id="grid-pager"></div>
    </div>
</div>
<script>
    $(function(){
        $("#gotoSearch").bind("click", function () {
            reloadGrid();
        });
    });
</script>
@include("/common/_listscript.html"){}
<link rel="stylesheet" href="${ctxPath}/static/zTree/css/zTreeStyle/zTreeStyle.css" />
<script src="${ctxPath}/static/zTree/js/jquery.ztree.core.js" type="text/javascript" ></script>
@}