@layout("/common/_container.html"){
<!-- PAGE CONTENT BEGINS -->
<div class="row">
    <div class="col-xs-12 tb-grid">
        <form data-url="${ctxPath}/${code}/save" method="post" class="form-horizontal" role="form">

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">来源类型: </td>
                    <td><input name="turntable.sourceType" value=""/></td>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">奖励类型: </td>
                    <td><input name="turntable.rewardType" value=""/></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">中奖权重: </td>
                    <td><input name="turntable.mediumWeight" value=""/></td>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">奖励数额: </td>
                    <td><input type="text" name="turntable.amountOfReward" value="" /></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<script>

</script>
<!-- 按钮 -->
@ include("/common/_curd/_btn.html",{btn_save:"确认添加",btn_close:"关闭"}) {}
@}
