@layout("/common/_container.html"){
<!-- PAGE CONTENT BEGINS -->
<div class="row">
  <div class="col-xs-12 tb-grid">
    <form data-url="${ctxPath}/${code}/update" method="post" class="form-horizontal" role="form">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">转盘索引: </td>
          <td ><input type="hidden" name="turntable.id" value="${turntable.id}" />
          <input type="text" name="turntable.turntable_index"  value="${turntable.turntable_index}" readonly /></td>
        </tr>
        <tr>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">转盘类型: </td>
          <td>${turntable.type}
            <span class="label-default">0:白银,1:黄金,2:钻石</span>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">奖励数额: </td>
          <td>
            <input type="text" name="turntable.award" value="${turntable.award}" readonly/>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">中奖权重: </td>
          <td><input type="text" name="turntable.pro" value="${turntable.pro}"/></td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
<script>

</script>
<!-- 按钮 -->
@ include("/common/_curd/_btn.html",{btn_save:"确认修改",btn_close:"关闭"}) {}
@}
