@layout("/common/_container.html"){
<script type="text/javascript">
    var ctx = "${ctxPath}";
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    var isAutoFlushTab = true;
    var _filter = '{"clientType":"6"}';
    $(function () {
        backDom('大厅配置', 'gameconf');
        initGrid();
        initMenuBtn("btns", "gameconf");
    });

    function initGrid() {
        var grid_url = ctx + "/${code}/list";//查询列表接口
        var _colnames = ["id","包来源","游戏id", "游戏名称", "是否开启", "排序", "界面状态", "类别", "类别排序"];
        var _colmodel = [
            {name: "id", sortable: false, hidden: true},
            {name: "clientType", sortable: false,},
            {name: "gameId", sortable: false},
            {name: "name", sortable: false},
            {name: "isOpen", sortable: false, formatter: rowText},
            {name: "sort", sortable: false},
            {name: "state", sortable: false,formatter:rowShow},
            {name: "type", sortable: false},
            {name: "typeSort", sortable: false}
        ];

        jQuery(grid_selector).jqGrid({
            url: grid_url,
            shrinkToFit: true,//适用于较少字段,响应式
            colNames: _colnames,
            colModel: _colmodel,
            jsonReader: {id: "id"},
            pager: pager_selector,
            postData: {where: _filter},
            rowNum: 100,
            height: 'auto'
        });
    }

    function rowShow(cellvalue, options, rowObject) {
        var html = "";
        if (options.colModel.name === 'state') {
            if (cellvalue === 0) {
                html = '<span class="label label-default">无</span>';
            } else if (cellvalue === 1) {
                html = '<span class="label label-success">NEW</span>';
            }else if (cellvalue===2){
                html = '<span class="label label-warning">HOT</span>';
            }
        }
        return html;
    }

    function rowText(cellvalue, options, rowObject) {
        var html = "";
        if (options.colModel.name === 'isOpen') {
            if (cellvalue === 1) {
                html = "开启";
            } else if (cellvalue === 0) {
                html = "关闭";
            }
        }
        return html;
    }
</script>
<!-- 配置grid -->
<div class="row">
    <!-- 简单查询第一组 -->
    <span id="GameTypeForm">
				<label class=""> 包来源： </label>
				<select id="ptypeid"></select>
    </span>
    <!-- 简单查询按钮 -->
    <label class="">
        <button class="btn btn-sx btn-white btn-search" type="button" onclick="goSearch()">查询</button>
    </label>
    <div class="col-xs-12 tb-grid">
        <button class="btn btn-sx btn-white btn-search hide" id="gotoSearch">查询</button>
        <!-- 按钮组 -->
        <div class="welljq well-sm" id="btns"></div>
        <!-- grid -->
        <table id="grid-table"></table>
        <!-- 分页 -->
        <div id="grid-pager"></div>
    </div>
</div>
<script>
    $(function () {
        $("#gotoSearch").bind("click", function () {
            reloadGrid();
        });
    });
    // 获取平台列表
    new Ajax("${ctxPath}/newsplatform/getPlatformInfo", function (data) {
        console.log(data);
        if(data.code == 0 && BladeTool.isNotEmpty(data.data)) {
            var type = data.data;
            var html = '';
            for (var i = 0; i < type.length; i++) {
                html += '<option value="' + type[i]['clientType'] + '">' + type[i]['name'] + '</option>';
            }
            $("#ptypeid").html(html);
        }
    }).start();

    function goSearch() {
        var clientType = $("#ptypeid").val();
        var wheres = {};
        if(BladeTool.isNotEmpty(clientType)) {
            wheres['clientType'] = clientType;
        }
        var filter = "";
        if (typeof (_filter) != "undefined") {
            filter = _filter;
        }
        var where = "";

        $.each(wheres, function(key, value) {
            if (BladeTool.isNotEmpty(key) && BladeTool.isNotEmpty(value)) {
                where += "\"" + key + "\":\"" + value + "\"" + ",";
            }
        });

        if (BladeTool.isNotEmpty(where)) {
            where = '{' + where;
            where = where.substring(0, where.length - 1);
            where += '}';
        }

        where = BladeTool.isEmpty(where) ? "" : encodeURI(where);
        isAutoPage = (BladeTool.isEmpty(where) ? true : false);
        var pageNum = $jqGrid.getGridParam('page');
        $jqGrid.jqGrid("setGridParam", {
            datatype : "json",
            postData : {
                where : where
            },
            page: (isAutoPage) ? pageNum : 1,
        }).trigger("reloadGrid");
    }
</script>
@include("/common/_listscript.html"){}
@}