@layout("/common/_container.html"){
<!-- PAGE CONTENT BEGINS -->
<div class="row">
  <div class="col-xs-12 tb-grid">
    <form data-url="${ctxPath}/${code}/update" method="post" class="form-horizontal" role="form">
      <input type="hidden" name="gameconf.id" value="${gameconf.id}"/>
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">游戏名称: </td>
          <td ><input type="text" name="gameconf.name" value="${gameconf.name}"/>
            <input type="hidden" name="gameconf.gameId" value="${gameconf.gameId}"/>
          </td>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">包来源: </td>
          <td>
            <input type="hidden" id="clientType" value="${gameconf.clientType}"/>
            <select id="ptypeid" type="text" name="gameconf.clientType">
            </select>
        </tr>
        <tr>
          </td>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">排序: </td>
          <td><input type="text" name="gameconf.sort" value="${gameconf.sort}"/></td>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">界面状态: </td>
          <td>
            <input type="radio" name="gameconf.state" value="0" ${gameconf.state==0?"checked":""}/>无&nbsp;&nbsp;&nbsp;
            <input type="radio" name="gameconf.state" value="1" ${gameconf.state==1?"checked":""}/>new&nbsp;&nbsp;&nbsp;
            <input type="radio" name="gameconf.state" value="2" ${gameconf.state==2?"checked":""}/>hot&nbsp;&nbsp;&nbsp;
          </td>

        </tr>
        <tr>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">游戏类别: </td>
          <td>
            <input type="hidden" id="type1" value="${gameconf.type}"/>
            <select id="type" name="gameconf.type">
            </select>
          </td>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">游戏类别中排序: </td>
          <td>
            <input type="text" name="gameconf.typeSort" value="${gameconf.typeSort}"/>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否开启: </td>
          <td>
            <input type="radio" name="gameconf.isOpen" value="0" ${gameconf.isOpen==0?"checked":""}>关闭</input>&nbsp;&nbsp;&nbsp;
            <input type="radio" name="gameconf.isOpen" value="1" ${gameconf.isOpen==1?"checked":""}>开启</input>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
<script>
  // 获取平台列表
  new Ajax("${ctxPath}/newsplatform/getPlatformInfo", function (data) {
    console.log(data);
    if(data.code === 0 && BladeTool.isNotEmpty(data.data)) {
      var type = data.data;
      var html = '';
      var clientType = parseInt($("#clientType").val())
      for (var i = 0; i < type.length; i++) {
        var t = type[i]['clientType']
        if (clientType===t){
          html = '<option value="' + t + '">' + type[i]['name'] + '</option>'+html;
        }else {
          html += '<option value="' + t + '">' + type[i]['name'] + '</option>';
        }
      }
      $("#ptypeid").html(html);
    }
  }).start();
  // 获取游戏类型
  new Ajax("${ctxPath}/${code}/gemaType", function (data) {
    console.log(data);
    if(data.code === 0 && BladeTool.isNotEmpty(data.data)) {
      var type = data.data;
      var html = '';
      var type1 = parseInt($("#type1").val())
      for (var i = 0; i < type.length; i++) {
        var t= type[i]['id']
        if (type1===t){
          html = '<option value="' + t + '">' + type[i]['name'] + '</option>'+html;
        }else {
          html += '<option value="' + t + '">' + type[i]['name'] + '</option>';
        }
      }
      $("#type").html(html);
    }
  }).start();
</script>
<!-- 按钮 -->
@ include("/common/_curd/_btn.html",{btn_save:"确认修改",btn_close:"关闭"}) {}
@}
