@layout("/common/_container.html"){
<!-- PAGE CONTENT BEGINS -->
<div class="row">
    <div class="col-xs-12 tb-grid">
        <form data-url="${ctxPath}/${code}/save" method="post" class="form-horizontal" role="form">

            <table class="table table-bordered">
                <tbody>
                <tr>

                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">游戏名称: </td>
                    <td ><select id="name" name="gameconf.gameId"></select></td>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">包来源: </td>
                    <td>
                        <select id="ptypeid" type="text" name="gameconf.clientType">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">排序: </td>
                    <td><input type="text" name="gameconf.sort" value=""/></td>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">界面状态: </td>
                    <td>
                        <input type="radio" name="gameconf.state" value="0"/>无&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="gameconf.state" value="1"/>new&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="gameconf.state" value="2"/>hot&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">游戏类别: </td>
                    <td>
                        <select id="type" name="gameconf.type" value="">
                        </select>
                    </td>
                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">游戏类别中排序: </td>
                    <td>
                        <input type="text" name="gameconf.typeSort" value=""/>
                    </td>
                </tr>
                <tr>

                    <td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">是否开启: </td>
                    <td>
                        <input type="radio" name="gameconf.isOpen" value="0">关闭</input>&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="gameconf.isOpen" value="1">开启</input>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<script>
    var ctx = "${ctxPath}";
    $(function (){
        getGame()
    })
    function getGame() {
        new Ajax( ctx+ "/gameconf/findGame", function (data) {
            if(data.code == 0 && BladeTool.isNotEmpty(data.data)) {
                var type = data.data;
                var html = '<option value="">请选择</option>';
                for (var i = 0; i < type.length; i++) {
                    html += '<option value="' + type[i]['KindID']+'">' + type[i]['KindName'] + '</option>';
                }
                $("#name").html(html);
            }
        }).start();
    }
    // 获取平台列表
    new Ajax("${ctxPath}/newsplatform/getPlatformInfo", function (data) {
        console.log(data);
        if(data.code == 0 && BladeTool.isNotEmpty(data.data)) {
            var type = data.data;
            var html = '<option value="">请选择</option>';
            for (var i = 0; i < type.length; i++) {
                html += '<option value="' + type[i]['clientType'] + '">' + type[i]['name'] + '</option>';
            }
            $("#ptypeid").html(html);
        }
    }).start();
    // 获取游戏类型
    new Ajax("${ctxPath}/${code}/gemaType", function (data) {
        console.log(data);
        if(data.code == 0 && BladeTool.isNotEmpty(data.data)) {
            var type = data.data;
            var html = '';
            for (var i = 0; i < type.length; i++) {
                html += '<option value="' + type[i]['id'] + '">' + type[i]['name'] + '</option>';
            }
            $("#type").html(html);
        }
    }).start();
</script>
<!-- 按钮 -->
@ include("/common/_curd/_btn.html",{btn_save:"确认添加",btn_close:"关闭"}) {}
@}
