@layout("/common/_container.html"){
	<!-- PAGE CONTENT BEGINS -->
<div class="row">
	<div class="col-xs-12 tb-grid">
	<form data-url="${ctxPath}/${code}/save" method="post" class="form-horizontal" role="form">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">类型: </td>
					<td>
						<select name="aaExchangecodeprop.propId">
							<option value="1">金币</option>
							<option value="2">奖券</option>
						</select>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle !important;text-align:right;" class="bg-F5F5F5">设置值: </td>
					<td>
						<input name="aaExchangecodeprop.amount" value="0" id="score" autoComplete='off'/>
					</td>
				</tr>
				<tr>
					<td></td>
					<td id="showC"></td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
<script src="${ctxPath}/static/search/numhandler.js" type="text/javascript" ></script>
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html",{btn_save:"确认新增",btn_close:"关闭"}) {}
@}